# Wykład 11: Pandas

Pandas jest FOSS-ową biblioteką, która służy głównie do
analizy i pre-processingu danych.
Zawiera łatwe w użyciu struktury i narzędzia
luźno inspirowane językiem zapytań `SQL` czy
też statystycznie zorientowanym
językiem `R`.

Przykładowe funkcjonalności `pandas`:
- import/eksport danych z/do różnych formatów
- przechowywanie danych w
pamięciowo efektywnych strukturach pozwalających na szybkie
obliczenia
- imputowanie brakujących danych w sposób manualny
- wyświetlanie statystyk
odnośnie danych (wariancje, średnie etc.)
- wizualizacja oraz prezentacja danych

In [1]:
# Standardowy alias przy importowaniu biblioteki pandas
import pandas as pd

# Najczęściej używany w parze z poznaną już biblioteką numpy
import numpy as np

## Pandas vs numpy

Należy się zastanowić kiedy należy używać `pandas` a kiedy
`numpy`, a kiedy obu.
Luźne rozluźnienie/spostrzeżenia odnośnie przydatności
wyżej wspomnianych w kontekście
celu naszego programu:

- __Prezentacja
danych__: `pandas` - wsparcie w interaktywnych notebookach (takich jak
jupyter
czy Google Colab), wsparcie "out of the box" dla plotowania (chociaż tutaj i tak
częściej będziemy korzystać z takich bibliotek jak `seaborn`, `bokeh` czy
`matplotlib`)
- __Małe dane (poniżej 50k rekordów)__: `numpy` - szybsze operacje
- __Duże dane__: `pandas` - dla średnich/dużych danych
jest dużo lepszym wyborem,
między innymi z powodu możliwości wczytywania danych
(chociażby obsługa Googlowego
BigQuery czy SQLa). Ponadto różnice
złożonościowe zaczynają się coraz bardziej
zacierać, a sam framework pozwala na
więcej.
- __Złożoność pamięciowa__: `numpy` - mniej więcej 1/3 zajmowanej pamięci w
porównaniu.
do `pandas`, co bierze się z dodatkowych własności reprezentowanych
przez
`pd.DataFrame`, takich jak nazwy kolumn, indeksy oraz dużo więcej
Pythonowych atrybutów.
- __Ogólna Szybkość operacji (w tym arytmetycznych)__: `numpy` - nie sortuje indeksów (w ogóle ich nie ma), dostęp do pojedynczych elementów bywa szybszy nawet 100 razy.

Najczęściej będziemy używać obu, gdyż ich funkcjonalności dobrze ze sobą współpracają.

## Wczytywanie i zapisywanie danych w Pandas


Pandas pozwala w prosty sposób wczytać dane z formatów: 

- tekstowego (__csv, json, html__)
- binarnego (__HDF5__ [w tym formacie zapisywane są modele w Kerasie] czy Pythonowy __pickle__)
- SQL (__SQL, Google Big Query__)

Wszystkie funkcje są formatu: `read_format`, gdzie format to przykładowo `csv`.

In [2]:
# df to standardowa nazwa skrótowa pochodząca od DataFrame
df = pd.read_csv("./csv_data.csv")
df2 = pd.read_json("./json_data.json")

# Funkcja head wyświetla N rekordów, gdzie domyślnie N jest równe 5
display(df.head())

# A ta wyświetla ostatnich 6 rekordów tak jak linuxowa komenda tail
display(df2.tail(6))

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915
99,4900 71ST ST,SACRAMENTO,95820,CA,3,1,1018,Residential,Wed May 21 00:00:00 EDT 2008,260014,38.531510,-121.421089

Najczęściej funkcje `read` i argumenty do nich przesyłane nie wymagają
modyfikacji.

Równie proste jest zapisywanie danych, każdy obiekt `pd.DataFrame`
posiada metody
o schemacie `to_format`:

In [3]:
df.to_pickle("./jakas_tam_nazwa_pliku.pickle")

Sam `pd.DataFrame` można również stworzyć ze słowników, co jest często
wykorzystywane w
praktyce. Tutaj klucze są nazwami kolumn, a wartości są
podawane jako obiekty
listo-podobne:

In [4]:
print("Column-wise creation:")
display(pd.DataFrame.from_dict(
    {"col_1": [3, 2, 1, 0], "col_2": ["a", "b", "c", "d"]}
))

print("Row-wise creation:")
display(pd.DataFrame.from_dict(
    {"row_1": [3, 2, 1, 0], "row_2": ["a", "b", "c", "d"]}, orient="index"
))

Column-wise creation:

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

Row-wise creation:

       0  1  2  3
row_1  3  2  1  0
row_2  a  b  c  d

Więcej informacji w dokumentacji, m.in.
[__tutaj__](https://pandas.pydata.org/pandas-docs/stable/io.html)

## pd.DataFrame i pd.Series

Obiektem na którym operujemy najczęściej jest
`pd.DataFrame`, który z kolei składa się z
obiektów `pd.Series`, od których
warto zacząć.

__Warto zaznaczyć, że__ `pd.Series` __oraz__ `pd.DataFrame`
__mają wiele wspólnych metod
i ich interfejs jest bardzo podobny!__

## pd.Series

`pd.Series` to jedno-wymiarowa tablica mogąca przechowywać różne typy
danych, która jest
indeksowana poprzez etykiety (domyślnie są one indeksowane od
zera)

In [5]:
# Tak "wyciągamy" kolumnę o kluczu price z pd.DataFrame
series = df["price"]
# Biorąc pojedynczą kolumnę otrzymujemy zawsze obiekt pd.Series
display(pd.DataFrame(series.sample(10)))

      price
90   244960
539  484500
675  185833
39   150000
82   235000
48   166357
739  249000
621  115000
784  310000
688  195000

### Operacje numpy-like

Na takim obiekcie możemy wykonywać zróżnicowane operacje
znane nam z `numpy`. Obiekty są rzutowane na `pd.DataFrame` z powodu bardziej czytelnego wyświetlania w jupyterowych notebookach.

In [6]:
display(pd.DataFrame(series.head(5)))

square_feet = df["sq__ft"].head(3)

display(pd.DataFrame(square_feet))

   price
0  59222
1  68212
2  68880
3  69307
4  81900

   sq__ft
0     836
1    1167
2     796

In [7]:
price_per_square_feet = series.head(5) / square_feet
#print("Price per square feet for first 3 houses:")
display(pd.DataFrame(price_per_square_feet.head(5), columns=["Price per square feet"]))

   Price per square feet
0              70.839713
1              58.450728
2              86.532663
3                    NaN
4                    NaN

Operacje wykonywane są index-wise, __serie nie muszą być tej samej długości__!

Pandas obsługuje także typy czasowe, konwersje między strefami etc.

In [8]:
sale_data = df["sale_date"]
display(pd.DataFrame(sale_data.sample(30)))

print(sale_data.dtype)

proper_type = pd.to_datetime(sale_data)
display(pd.DataFrame(proper_type.sample(30)))

print(proper_type.dtype)

                        sale_date
134  Wed May 21 00:00:00 EDT 2008
676  Fri May 16 00:00:00 EDT 2008
176  Tue May 20 00:00:00 EDT 2008
512  Mon May 19 00:00:00 EDT 2008
917  Thu May 15 00:00:00 EDT 2008
50   Wed May 21 00:00:00 EDT 2008
963  Thu May 15 00:00:00 EDT 2008
550  Mon May 19 00:00:00 EDT 2008
650  Fri May 16 00:00:00 EDT 2008
968  Thu May 15 00:00:00 EDT 2008
914  Thu May 15 00:00:00 EDT 2008
410  Mon May 19 00:00:00 EDT 2008
680  Fri May 16 00:00:00 EDT 2008
466  Mon May 19 00:00:00 EDT 2008
682  Fri May 16 00:00:00 EDT 2008
3    Wed May 21 00:00:00 EDT 2008
250  Tue May 20 00:00:00 EDT 2008
275  Tue May 20 00:00:00 EDT 2008
802  Fri May 16 00:00:00 EDT 2008
694  Fri May 16 00:00:00 EDT 2008
163  Tue May 20 00:00:00 EDT 2008
732  Fri May 16 00:00:00 EDT 2008
120  Wed May 21 00:00:00 EDT 2008
639  Fri May 16 00:00:00 EDT 2008
870  Thu May 15 00:00:00 EDT 2008
522  Mon May 19 00:00:00 EDT 2008
366  Mon May 19 00:00:00 EDT 2008
494  Mon May 19 00:00:00 EDT 2008
850  Fri May 16 00:00:00 EDT 2008
931  Thu May 15 00:00:00 EDT 2008

object

/usr/lib/python3.7/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

     sale_date
85  2008-05-21
451 2008-05-19
695 2008-05-16
602 2008-05-19
481 2008-05-19
642 2008-05-16
681 2008-05-16
281 2008-05-20
900 2008-05-15
359 2008-05-19
59  2008-05-21
960 2008-05-15
523 2008-05-19
21  2008-05-21
383 2008-05-19
595 2008-05-19
463 2008-05-19
144 2008-05-21
346 2008-05-19
492 2008-05-19
954 2008-05-15
411 2008-05-19
521 2008-05-19
848 2008-05-16
76  2008-05-21
366 2008-05-19
731 2008-05-16
617 2008-05-16
4   2008-05-21
139 2008-05-21

datetime64[ns]

Spróbujmy dodać datę do ceny

In [9]:
try:
    display(proper_type.head(5) + df["price"].head(5))
except:
    print("It wasn't a surprise I guess...")

It wasn't a surprise I guess...

Jeżeli chcemy "wydostać" `np.array` z takiego obiektu powinniśmy użyć metody
`values`:

In [10]:
numpy_array = series.values
print("Mean of house price: {}".format(np.mean(numpy_array)))
# A tak do listy
print(type(series.tolist()))

Mean of house price: 234144.26395939087
<class 'list'>

### Tworzenie

Rzadko w praktyce tworzymy obiekty Series manualnie, ale jest to możliwe:

In [11]:
# Domyślne indeksowanie od zera
display(pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!']))

# Explicite ustawiamy indeksy
display(pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'i', 'e']))

# Ze słownika
display(pd.Series({'a' : 0., 'b' : 1., 'c' : 2.}))

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

a   -0.951479
b    0.128715
c    0.097178
i    0.089658
e   -0.593992
dtype: float64

a    0.0
b    1.0
c    2.0
dtype: float64

Jeżeli explicite podamy indeks to `pd.Series` dopasuje indeksy do kluczy, a pozostałe pola zostaną wypełnione obiektami `np.nan`

In [12]:
display(pd.Series({'a' : 0., 'b' : 1., 'c' : 2.}, index=["c", "b", "d", "e"]))

c    2.0
b    1.0
d    NaN
e    NaN
dtype: float64

### Indeksowanie

Dostęp do poszczególnych elementów:

In [13]:
print(series[0], series[4])

try:
    print(series[-1])
except KeyError as e:
    print("You cannot use negative indexing this way!")

59222 81900
You cannot use negative indexing this way!

Metody `loc` oraz `iloc` (__zwróć uwagę na różnice w działaniu!__), pozwalają na
indeksowanie zarówno `pd.DataFrame` jak i `pd.Series` oraz są zalecaną praktyką.

In [14]:
# Broadcasting jest też w Pandasie
s = pd.Series(np.nan, index=[49,48,47,46,45, 1, 2, 3, 4, 5])

display(pd.DataFrame(s, columns=["Original Series"]))

    Original Series
49              NaN
48              NaN
47              NaN
46              NaN
45              NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN

In [15]:
display(pd.DataFrame(s.iloc[:3], columns=["Sliced with iloc"]))

    Sliced with iloc
49               NaN
48               NaN
47               NaN

In [16]:
display(pd.DataFrame(s.loc[:3], columns=["Sliced with loc"]))

    Sliced with loc
49              NaN
48              NaN
47              NaN
46              NaN
45              NaN
1               NaN
2               NaN
3               NaN

- `iloc`: nie zwraca uwagi na indeksy, przykładowo trzy pierwsze rzędy
- `loc`: zwraca uwagę na indeksy, przykładowo wszystkie rzędy aż do napotkania indeksu 3

Jeżeli brak danego indeksu w `pd.Series`/`pd.DataFrame` podnoszony jest wyjątek
`KeyError`

Możemy używać negatywnych indeksów z `iloc`:

In [17]:
s.iloc[-1:-3:-1] = 2
display(pd.DataFrame(s, columns=["Last two values filled with 2.0"]))
display(pd.DataFrame(s.iloc[-1::-1], columns=["Negative indexing"]))

    Last two values filled with 2.0
49                              NaN
48                              NaN
47                              NaN
46                              NaN
45                              NaN
1                               NaN
2                               NaN
3                               NaN
4                               2.0
5                               2.0

    Negative indexing
5                 2.0
4                 2.0
3                 NaN
2                 NaN
1                 NaN
45                NaN
46                NaN
47                NaN
48                NaN
49                NaN

Bardziej skomplikowany przykład, pokazujący, że tymi metodami powinniśmy indeksować
`pd.DataFrame`, a sam slicing działa jak w numpy'u:

In [18]:
dataset = pd.DataFrame(np.nan, index=list('abcde'), columns=['x','y','z', 8, 9])

display(dataset)

# Weź numer rzędu (0... N) na podstawie indeksu który ma wartość 'c'
dataset.iloc[:dataset.index.get_loc('c') + 1, :4]

    x   y   z   8   9
a NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN
c NaN NaN NaN NaN NaN
d NaN NaN NaN NaN NaN
e NaN NaN NaN NaN NaN

    x   y   z   8
a NaN NaN NaN NaN
b NaN NaN NaN NaN
c NaN NaN NaN NaN

`at` oraz `iat` działają na takiej samej zasadzie, ale są przystosowane
do wyciągania __tylko jednego elementu__ z całego `pd.DataFrame`/`pd.Series`. Dla tej
operacji są szybsze od swoich odpowiedników `loc` oraz `iloc`.

In [19]:
data= np.array([[ 5.8,2.8], [ 6.0,2.2]])
dataset = pd.DataFrame({'A': data[:,0], 'B': data[:,1]})

print(dataset.iat[0, 0])

5.8

__Ważne__: Element który chcemy wybrać __musi być skalarem__.

A tutaj przykład wybierania wartości większych od średnich oraz jak je poprawnie
przypisać. Działanie jest analogiczne do poznanych już list w Pythonie.

In [20]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'i', 'e'])

display(pd.DataFrame(s, columns=["Original Series"]))

display(pd.DataFrame(s[s > s.mean()], columns=["Sliced series"]))

   Original Series
a        -1.025251
b         0.111885
c         0.030169
i         1.753443
e        -2.254201

   Sliced series
b       0.111885
c       0.030169
i       1.753443

In [21]:
# Tak można przypisywać wartości do series
s[0] = 999
s[s < s.mean()] = 1000

display(pd.DataFrame(s, columns=["Modified in-place series"]))

   Modified in-place series
a                     999.0
b                    1000.0
c                    1000.0
i                    1000.0
e                    1000.0

# Powrót do pd.DataFrame

## Odnoszenie się do kolumn

Aby zobaczyć nazwy kolumn w `pd.DataFrame` wystarczy zrzutować ją na listę:

In [22]:
columns = list(df)
columns

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

Aby wybrać kolumny możemy odnieść się do `pd.DataFrame` przez:

Atrybut (możemy wybrać tylko jedną kolumnę)

In [23]:
# Kolumna street
display(df.street.head())

0        3526 HIGH ST
1         51 OMAHA CT
2      2796 BRANCH ST
3    2805 JANETTE WAY
4     6001 MCMAHON DR
Name: street, dtype: object

Klucz (możemy wybierać wiele kolumn)

In [24]:
print("Multiple columns access (only key indexing) ")
display(df[["state", "street", "city"]].sample(10))

Multiple columns access (only key indexing)

    state                   street             city
851    CA       3863 LAS PASAS WAY       SACRAMENTO
521    CA           3622 CURTIS DR       SACRAMENTO
634    CA         4073 TRESLER AVE  NORTH HIGHLANDS
158    CA  6272 LONGFORD DR Unit 1   CITRUS HEIGHTS
273    CA      3578 LOGGERHEAD WAY       SACRAMENTO
393    CA       1223 LAMBERTON CIR       SACRAMENTO
191    CA          1035 MILLET WAY       SACRAMENTO
151    CA     6503 RIO DE ONAR WAY        ELK GROVE
309    CA              6306 CONEJO   RANCHO MURIETA
577    CA                  35 E ST          LINCOLN

## Merge, join, concatenate

Funkcja `merge` w `pandas` działa analogicznie do łączenia tabel ( `JOIN` ) w SQL.

In [25]:
left_frame = pd.DataFrame({"key": range(5), "left_value": ["a", "b", "c", "d", "e"]})
right_frame = pd.DataFrame({"key": range(2, 7), "right_value": ["f", "g", "h", "i", "j"]})

display(left_frame)
display(right_frame)

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e

   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

Możemy wyróżnić następujące sposoby łączenia obiektów `pd.DataFrame`:

- left - używa kluczy tylko z lewej ramki,

In [26]:
display(pd.merge(left_frame, right_frame, on='key', how='left'))

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h

- right - używa kluczy tylko z prawej ramki,

In [27]:
display(pd.merge(left_frame, right_frame, on='key', how='right'))

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h
3    5        NaN           i
4    6        NaN           j

- outer - używa kluczy z obu ramek,

In [28]:
display(pd.merge(left_frame, right_frame, on='key', how='outer'))

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h
5    5        NaN           i
6    6        NaN           j

- inner - używa kluczy występujących w obu ramkach.

In [29]:
display(pd.merge(left_frame, right_frame, on='key', how='inner'))

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

## split-apply-combine

Pandas pozwala na grupowanie danych względem wartości w konkretnych kolumnach (analogicznie do `GROUP BY` w `SQL`).

In [30]:
grouped = df.groupby("city")

for group_name, group in grouped:
    print("City: {}".format(group_name))
    display(group)

City: ANTELOPE

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
25,3828 BLACKFOOT WAY,ANTELOPE,95843,CA,3,2,1088,Residential,Wed May 21 00:00:00 EDT 2008,126640,38.709740,-121.373770
43,5708 RIDGEPOINT DR,ANTELOPE,95843,CA,2,2,1043,Residential,Wed May 21 00:00:00 EDT 2008,161250,38.720270,-121.331555
60,4844 CLYDEBANK WAY,ANTELOPE,95843,CA,3,2,1215,Residential,Wed May 21 00:00:00 EDT 2008,182716,38.714609,-121.347887
67,7895 CABER WAY,ANTELOPE,95843,CA,3,2,1362,Residential,Wed May 21 00:00:00 EDT 2008,194818,38.711279,-121.393449
139,7837 ABBINGTON WAY,ANTELOPE,95843,CA,4,2,1830,Residential,Wed May 21 00:00:00 EDT 2008,387731,38.709873,-121.339472
208,3228 BAGGAN CT,ANTELOPE,95843,CA,3,2,1392,Residential,Tue May 20 00:00:00 EDT 2008,165000,38.715346,-121.388163
214,7863 CRESTLEIGH CT,ANTELOPE,95843,CA,2,2,1007,Residential,Tue May 20 00:00:00 EDT 2008,180000,38.710889,-121.358876
222,4437 MITCHUM CT,ANTELOPE,95843,CA,3,2,1393,Residential,Tue May 20 00:00:00 EDT 2008,200000,38.704407,-121.361130
257,5312 MARBURY WAY,ANTELOPE,95843,CA,3,2,1574,Residential,Tue May 20 00:00:00 EDT 2008,255000,38.710221,-121.341651
261,5712 MELBURY CIR,ANTELOPE,95843,CA,3,2,1567,Residential,Tue May 20 00:00:00 EDT 2008,261000,38.705849,-121.334701
264,8108 FILIFERA WAY,ANTELOPE,95843,CA,4,3,1768,Residential,Tue May 20 00:00:00 EDT 2008,265000,38.717042,-121.354680
362,8020 WALERGA RD,ANTELOPE,95843,CA,2,2,836,Condo,Mon May 19 00:00:00 EDT 2008,115000,38.716070,-121.364468
438,3318 DAVIDSON DR,ANTELOPE,95843,CA,3,1,988,Residential,Mon May 19 00:00:00 EDT 2008,223139,38.705753,-121.388917
444,4508 OLD DAIRY DR,ANTELOPE,95843,CA,4,3,2026,Residential,Mon May 19 00:00:00 EDT 2008,231200,38.722860,-121.358939
448,8721 SPRUCE RIDGE WAY,ANTELOPE,95843,CA,3,2,1187,Residential,Mon May 19 00:00:00 EDT 2008,234000,38.727657,-121.391028
455,3305 RIO ROCA CT,ANTELOPE,95843,CA,4,3,2652,Residential,Mon May 19 00:00:00 EDT 2008,239700,38.725079,-121.387698
466,5308 MARBURY WAY,ANTELOPE,95843,CA,3,2,1830,Residential,Mon May 19 00:00:00 EDT 2008,254172,38.710221,-121.341707
499,4712 PISMO BEACH DR,ANTELOPE,95843,CA,5,3,2346,Residential,Mon May 19 00:00:00 EDT 2008,320000,38.707705,-121.354153
500,4741 PACIFIC PARK DR,ANTELOPE,95843,CA,5,3,2347,Residential,Mon May 19 00:00:00 EDT 2008,325000,38.709299,-121.353056
525,3361 ALDER CANYON WAY,ANTELOPE,95843,CA,4,3,2085,Residential,Mon May 19 00:00:00 EDT 2008,408431,38.727649,-121.385656
650,3536 SUN MAIDEN WAY,ANTELOPE,95843,CA,3,2,1711,Residential,Fri May 16 00:00:00 EDT 2008,161500,38.709680,-121.382328
658,4008 GREY LIVERY WAY,ANTELOPE,95843,CA,3,2,1669,Residential,Fri May 16 00:00:00 EDT 2008,168750,38.718460,-121.370862
696,8716 LONGSPUR WAY,ANTELOPE,95843,CA,3,2,1479,Residential,Fri May 16 00:00:00 EDT 2008,205000,38.724083,-121.358400
700,7901 GAZELLE TRAIL WAY,ANTELOPE,95843,CA,4,2,1953,Residential,Fri May 16 00:00:00 EDT 2008,207744,38.711740,-121.342675
729,4085 COUNTRY DR,ANTELOPE,95843,CA,4,3,1915,Residential,Fri May 16 00:00:00 EDT 2008,240000,38.706209,-121.369509
735,8316 NORTHAM DR,ANTELOPE,95843,CA,3,2,1235,Residential,Fri May 16 00:00:00 EDT 2008,246544,38.720767,-121.376678
736,4240 WINJE DR,ANTELOPE,95843,CA,4,2,2504,Residential,Fri May 16 00:00:00 EDT 2008,246750,38.708840,-121.359559
769,4636 TEAL BAY CT,ANTELOPE,95843,CA,4,2,2160,Residential,Fri May 16 00:00:00 EDT 2008,290000,38.704554,-121.354753
792,7921 DOE TRAIL WAY,ANTELOPE,95843,CA,5,3,3134,Residential,Fri May 16 00:00:00 EDT 2008,315000,38.711927,-121.343608
811,4509 WINJE DR,ANTELOPE,95843,CA,3,2,2960,Residential,Fri May 16 00:00:00 EDT 2008,350000,38.709513,-121.359357
902,3604 KODIAK WAY,ANTELOPE,95843,CA,3,2,1206,Residential,Thu May 15 00:00:00 EDT 2008,142000,38.706175,-121.379776
910,8636 LONGSPUR WAY,ANTELOPE,95843,CA,3,2,1670,Residential,Thu May 15 00:00:00 EDT 2008,157296,38.725873,-121.358560
959,8428 MISTY PASS WAY,ANTELOPE,95843,CA,3,2,1517,Residential,Thu May 15 00:00:00 EDT 2008,212000,38.722959,-121.347115

City: AUBURN

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
325,1740 HIGH ST,AUBURN,95603,CA,3,3,0,Residential,Tue May 20 00:00:00 EDT 2008,504000,38.891935,-121.084340
468,2231 COUNTRY VILLA CT,AUBURN,95603,CA,2,2,1255,Condo,Mon May 19 00:00:00 EDT 2008,260000,38.931671,-121.097862
484,220 OLD AIRPORT RD,AUBURN,95603,CA,2,2,960,Multi-Family,Mon May 19 00:00:00 EDT 2008,285000,38.939802,-121.054575
833,1484 RADCLIFFE WAY,AUBURN,95603,CA,4,3,2278,Residential,Fri May 16 00:00:00 EDT 2008,420454,38.935579,-121.079018
852,820 DANA CT,AUBURN,95603,CA,4,3,0,Residential,Fri May 16 00:00:00 EDT 2008,560000,38.865246,-121.094869

City: CAMERON PARK

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
223,2778 KAWEAH CT,CAMERON PARK,95682,CA,3,1,0,Residential,Tue May 20 00:00:00 EDT 2008,201000,38.694052,-120.995589
230,3361 BOW MAR CT,CAMERON PARK,95682,CA,2,2,0,Residential,Tue May 20 00:00:00 EDT 2008,210000,38.694370,-120.996602
304,3429 FERNBROOK CT,CAMERON PARK,95682,CA,3,2,2016,Residential,Tue May 20 00:00:00 EDT 2008,399000,38.664225,-121.007173
530,2809 LOON CT,CAMERON PARK,95682,CA,4,2,0,Residential,Mon May 19 00:00:00 EDT 2008,423000,38.687072,-121.004729
689,3330 VILLAGE CT,CAMERON PARK,95682,CA,2,2,0,Residential,Fri May 16 00:00:00 EDT 2008,195000,38.690504,-120.996245
707,2733 YUMA CT,CAMERON PARK,95682,CA,2,2,0,Residential,Fri May 16 00:00:00 EDT 2008,215000,38.691215,-120.994949
835,2818 KNOLLWOOD DR,CAMERON PARK,95682,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,425000,38.669805,-120.999007
888,3035 ESTEPA DR Unit 5C,CAMERON PARK,95682,CA,0,0,0,Condo,Thu May 15 00:00:00 EDT 2008,119000,38.681393,-120.996713
973,2181 WINTERHAVEN CIR,CAMERON PARK,95682,CA,3,2,0,Residential,Thu May 15 00:00:00 EDT 2008,224500,38.697570,-120.995739

City: CARMICHAEL

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
58,5332 SANDSTONE ST,CARMICHAEL,95608,CA,3,1,1152,Residential,Wed May 21 00:00:00 EDT 2008,181872,38.662105,-121.313945
72,5907 ELLERSLEE DR,CARMICHAEL,95608,CA,3,1,936,Residential,Wed May 21 00:00:00 EDT 2008,200000,38.664468,-121.326830
94,4010 ALEX LN,CARMICHAEL,95608,CA,2,2,1326,Condo,Wed May 21 00:00:00 EDT 2008,250134,38.637028,-121.312963
219,5925 MALEVILLE AVE,CARMICHAEL,95608,CA,4,2,1120,Residential,Tue May 20 00:00:00 EDT 2008,189000,38.666564,-121.325717
321,2109 HAMLET PL,CARMICHAEL,95608,CA,2,2,1598,Residential,Tue May 20 00:00:00 EDT 2008,484000,38.602754,-121.329326
329,5709 RIVER OAK WAY,CARMICHAEL,95608,CA,4,2,2222,Residential,Tue May 20 00:00:00 EDT 2008,582000,38.602461,-121.330979
383,7032 FAIR OAKS BLVD,CARMICHAEL,95608,CA,3,2,1245,Condo,Mon May 19 00:00:00 EDT 2008,139500,38.628563,-121.328297
414,7110 STELLA LN Unit 15,CARMICHAEL,95608,CA,2,2,1000,Condo,Mon May 19 00:00:00 EDT 2008,182000,38.637396,-121.300055
474,5847 DEL CAMPO LN,CARMICHAEL,95608,CA,3,1,1713,Residential,Mon May 19 00:00:00 EDT 2008,266000,38.671995,-121.324339
485,4622 MEYER WAY,CARMICHAEL,95608,CA,4,2,1559,Residential,Mon May 19 00:00:00 EDT 2008,285000,38.649130,-121.310667
549,4734 GIBBONS DR,CARMICHAEL,95608,CA,4,3,3357,Residential,Mon May 19 00:00:00 EDT 2008,668365,38.635580,-121.353639
694,5733 ANGELINA AVE,CARMICHAEL,95608,CA,3,1,972,Residential,Fri May 16 00:00:00 EDT 2008,201000,38.622634,-121.330846
715,5532 ENGLE RD,CARMICHAEL,95608,CA,2,2,1637,Residential,Fri May 16 00:00:00 EDT 2008,220702,38.631730,-121.335286
738,5118 ROBANDER ST,CARMICHAEL,95608,CA,3,2,1676,Residential,Fri May 16 00:00:00 EDT 2008,247000,38.657267,-121.310352
763,6326 APPIAN WAY,CARMICHAEL,95608,CA,3,2,1443,Residential,Fri May 16 00:00:00 EDT 2008,280000,38.662660,-121.316858
784,2949 PANAMA AVE,CARMICHAEL,95608,CA,3,2,1502,Residential,Fri May 16 00:00:00 EDT 2008,310000,38.618369,-121.326187
822,3621 WINTUN DR,CARMICHAEL,95608,CA,3,2,1655,Residential,Fri May 16 00:00:00 EDT 2008,386222,38.629929,-121.323086
832,4748 SALEM WAY,CARMICHAEL,95608,CA,3,2,2334,Residential,Fri May 16 00:00:00 EDT 2008,415000,38.634111,-121.353376
952,3230 SMATHERS WAY,CARMICHAEL,95608,CA,3,2,1296,Residential,Thu May 15 00:00:00 EDT 2008,205900,38.623372,-121.347665
967,5429 HESPER WAY,CARMICHAEL,95608,CA,4,2,1319,Residential,Thu May 15 00:00:00 EDT 2008,220000,38.665104,-121.315901

City: CITRUS HEIGHTS

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
17,6236 LONGFORD DR Unit 1,CITRUS HEIGHTS,95621,CA,2,1,795,Condo,Wed May 21 00:00:00 EDT 2008,116250,38.679776,-121.314089
20,6118 STONEHAND AVE,CITRUS HEIGHTS,95621,CA,3,2,1118,Residential,Wed May 21 00:00:00 EDT 2008,122000,38.707851,-121.320707
82,6613 NAVION DR,CITRUS HEIGHTS,95621,CA,4,2,1277,Residential,Wed May 21 00:00:00 EDT 2008,235000,38.702855,-121.313080
92,5448 MAIDSTONE WAY,CITRUS HEIGHTS,95621,CA,3,2,1305,Residential,Wed May 21 00:00:00 EDT 2008,250000,38.665395,-121.293288
158,6272 LONGFORD DR Unit 1,CITRUS HEIGHTS,95621,CA,2,1,795,Condo,Tue May 20 00:00:00 EDT 2008,69000,38.680923,-121.313945
202,6716 TAREYTON WAY,CITRUS HEIGHTS,95621,CA,3,2,1104,Residential,Tue May 20 00:00:00 EDT 2008,156000,38.693724,-121.307169
206,7140 BLUE SPRINGS WAY,CITRUS HEIGHTS,95621,CA,3,2,1156,Residential,Tue May 20 00:00:00 EDT 2008,161653,38.720653,-121.302241
220,7031 CANEVALLEY CIR,CITRUS HEIGHTS,95621,CA,3,2,1137,Residential,Tue May 20 00:00:00 EDT 2008,194000,38.718693,-121.303619
232,5805 HIMALAYA WAY,CITRUS HEIGHTS,95621,CA,4,2,1578,Residential,Tue May 20 00:00:00 EDT 2008,215000,38.696489,-121.328555
233,7944 SYLVAN OAK WAY,CITRUS HEIGHTS,95610,CA,3,2,1317,Residential,Tue May 20 00:00:00 EDT 2008,215000,38.710388,-121.261096
258,6344 BONHAM CIR,CITRUS HEIGHTS,95610,CA,5,4,2085,Multi-Family,Tue May 20 00:00:00 EDT 2008,256054,38.682358,-121.272876
355,6013 ROWAN WAY,CITRUS HEIGHTS,95621,CA,2,1,888,Residential,Mon May 19 00:00:00 EDT 2008,101000,38.675893,-121.296300
395,6000 BIRCHGLADE WAY,CITRUS HEIGHTS,95621,CA,4,2,1351,Residential,Mon May 19 00:00:00 EDT 2008,158000,38.701660,-121.323249
399,6632 IBEX WOODS CT,CITRUS HEIGHTS,95621,CA,2,2,1162,Residential,Mon May 19 00:00:00 EDT 2008,164000,38.720868,-121.309855
403,8306 CURLEW CT,CITRUS HEIGHTS,95621,CA,4,2,1280,Residential,Mon May 19 00:00:00 EDT 2008,167293,38.715781,-121.298519
404,8306 CURLEW CT,CITRUS HEIGHTS,95621,CA,4,2,1280,Residential,Mon May 19 00:00:00 EDT 2008,167293,38.715781,-121.298519
418,5938 WOODBRIAR WAY,CITRUS HEIGHTS,95621,CA,3,2,1329,Residential,Mon May 19 00:00:00 EDT 2008,192700,38.706152,-121.325399
427,7213 CALVIN DR,CITRUS HEIGHTS,95621,CA,3,1,1258,Residential,Mon May 19 00:00:00 EDT 2008,212000,38.698154,-121.298375
482,6220 OPUS CT,CITRUS HEIGHTS,95621,CA,3,2,1343,Residential,Mon May 19 00:00:00 EDT 2008,284893,38.715853,-121.317095
603,8208 WOODYARD WAY,CITRUS HEIGHTS,95621,CA,3,2,1166,Residential,Fri May 16 00:00:00 EDT 2008,30000,38.715322,-121.314787
645,7204 KERSTEN ST,CITRUS HEIGHTS,95621,CA,3,2,1075,Residential,Fri May 16 00:00:00 EDT 2008,155800,38.695863,-121.300814
649,6824 OLIVE TREE WAY,CITRUS HEIGHTS,95610,CA,3,2,1410,Residential,Fri May 16 00:00:00 EDT 2008,160000,38.689239,-121.267737
660,8300 LICHEN DR,CITRUS HEIGHTS,95621,CA,3,1,1103,Residential,Fri May 16 00:00:00 EDT 2008,170000,38.716410,-121.306239
666,7800 TABARE CT,CITRUS HEIGHTS,95621,CA,3,2,1199,Residential,Fri May 16 00:00:00 EDT 2008,178000,38.707990,-121.302979
688,6019 CHESHIRE WAY,CITRUS HEIGHTS,95610,CA,4,3,1736,Residential,Fri May 16 00:00:00 EDT 2008,195000,38.676437,-121.279165
713,7252 CARRIAGE DR,CITRUS HEIGHTS,95621,CA,4,2,1419,Residential,Fri May 16 00:00:00 EDT 2008,220000,38.698058,-121.294893
739,5976 KYLENCH CT,CITRUS HEIGHTS,95621,CA,3,2,1367,Residential,Fri May 16 00:00:00 EDT 2008,249000,38.708966,-121.324670
764,6905 COBALT WAY,CITRUS HEIGHTS,95621,CA,4,2,1582,Residential,Fri May 16 00:00:00 EDT 2008,280000,38.691393,-121.305215
782,8215 PEREGRINE WAY,CITRUS HEIGHTS,95610,CA,3,2,1401,Residential,Fri May 16 00:00:00 EDT 2008,305000,38.715493,-121.262930
914,8321 MISTLETOE WAY,CITRUS HEIGHTS,95621,CA,4,2,1381,Residential,Thu May 15 00:00:00 EDT 2008,161250,38.717738,-121.308322
919,6517 DONEGAL DR,CITRUS HEIGHTS,95621,CA,3,1,1344,Residential,Thu May 15 00:00:00 EDT 2008,166000,38.681554,-121.312934
938,6622 WILLOWLEAF DR,CITRUS HEIGHTS,95621,CA,4,3,1892,Residential,Thu May 15 00:00:00 EDT 2008,189836,38.699714,-121.311635
943,7409 VOYAGER WAY,CITRUS HEIGHTS,95621,CA,3,1,1073,Residential,Thu May 15 00:00:00 EDT 2008,198000,38.700717,-121.313300
963,8445 OLD AUBURN RD,CITRUS HEIGHTS,95610,CA,3,2,1882,Residential,Thu May 15 00:00:00 EDT 2008,219000,38.715423,-121.246743
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803

City: COOL

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
778,2341 BIG STRIKE TRL,COOL,95614,CA,3,2,1457,Residential,Fri May 16 00:00:00 EDT 2008,300000,38.905927,-120.975169

City: DIAMOND SPRINGS

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
709,636 CRESTVIEW DR,DIAMOND SPRINGS,95619,CA,3,2,1300,Residential,Fri May 16 00:00:00 EDT 2008,216033,38.688255,-120.810235

City: EL DORADO

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
486,4885 SUMMIT VIEW DR,EL DORADO,95623,CA,3,2,1624,Residential,Mon May 19 00:00:00 EDT 2008,289000,38.673285,-120.879176
697,6320 EL DORADO ST,EL DORADO,95623,CA,2,1,1040,Residential,Fri May 16 00:00:00 EDT 2008,205000,38.678758,-120.844118

City: EL DORADO HILLS

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
132,3020 RICHARDSON CIR,EL DORADO HILLS,95762,CA,3,2,0,Residential,Wed May 21 00:00:00 EDT 2008,352000,38.691299,-121.081752
154,6030 PALERMO WAY,EL DORADO HILLS,95762,CA,4,3,0,Residential,Wed May 21 00:00:00 EDT 2008,600000,38.672761,-121.050378
155,4070 REDONDO DR,EL DORADO HILLS,95762,CA,4,3,0,Residential,Wed May 21 00:00:00 EDT 2008,606238,38.666807,-121.064830
157,315 JUMEL CT,EL DORADO HILLS,95762,CA,6,5,0,Residential,Wed May 21 00:00:00 EDT 2008,830000,38.669931,-121.059580
312,4100 BOTHWELL CIR,EL DORADO HILLS,95762,CA,5,3,0,Residential,Tue May 20 00:00:00 EDT 2008,438700,38.679136,-121.034329
316,1032 SOUZA DR,EL DORADO HILLS,95762,CA,3,2,0,Residential,Tue May 20 00:00:00 EDT 2008,460000,38.668239,-121.064437
326,2733 DANA LOOP,EL DORADO HILLS,95762,CA,0,0,0,Residential,Tue May 20 00:00:00 EDT 2008,541000,38.628459,-121.055078
472,955 BIG SUR CT,EL DORADO HILLS,95762,CA,4,2,1808,Residential,Mon May 19 00:00:00 EDT 2008,262500,38.664347,-121.076529
524,2743 DEAKIN PL,EL DORADO HILLS,95762,CA,3,2,0,Residential,Mon May 19 00:00:00 EDT 2008,400000,38.692880,-121.073551
528,3013 BRIDLEWOOD DR,EL DORADO HILLS,95762,CA,4,3,0,Residential,Mon May 19 00:00:00 EDT 2008,420000,38.675519,-121.015862
537,5746 GELSTON WAY,EL DORADO HILLS,95762,CA,4,3,0,Residential,Mon May 19 00:00:00 EDT 2008,471000,38.677015,-121.034083
540,719 BAYWOOD CT,EL DORADO HILLS,95762,CA,5,3,0,Residential,Mon May 19 00:00:00 EDT 2008,487500,38.647598,-121.077801
756,2674 TAM O SHANTER DR,EL DORADO HILLS,95762,CA,4,2,0,Residential,Fri May 16 00:00:00 EDT 2008,272700,38.695801,-121.079216
816,4165 BRISBANE CIR,EL DORADO HILLS,95762,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,356200,38.686067,-121.073413
829,556 PLATT CIR,EL DORADO HILLS,95762,CA,4,2,2199,Residential,Fri May 16 00:00:00 EDT 2008,400000,38.656299,-121.079783
843,2159 BECKETT DR,EL DORADO HILLS,95762,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,460000,38.680092,-121.036467
846,2089 BECKETT DR,EL DORADO HILLS,95762,CA,4,2,0,Residential,Fri May 16 00:00:00 EDT 2008,493000,38.681778,-121.035838
847,6196 EDGEHILL DR,EL DORADO HILLS,95762,CA,5,4,0,Residential,Fri May 16 00:00:00 EDT 2008,508000,38.676131,-121.038931
850,4841 VILLAGE GREEN DR,EL DORADO HILLS,95762,CA,4,3,0,Residential,Fri May 16 00:00:00 EDT 2008,533000,38.664066,-121.056735
861,200 CRADLE MOUNTAIN CT,EL DORADO HILLS,95762,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,622500,38.647800,-121.030900
862,2065 IMPRESSIONIST WAY,EL DORADO HILLS,95762,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,680000,38.682961,-121.033253
863,2982 ABERDEEN LN,EL DORADO HILLS,95762,CA,4,3,0,Residential,Fri May 16 00:00:00 EDT 2008,879000,38.706692,-121.058869
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

City: ELK GROVE

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
30,5201 LAGUNA OAKS DR Unit 140,ELK GROVE,95758,CA,2,2,1039,Condo,Wed May 21 00:00:00 EDT 2008,133000,38.423251,-121.444489
34,5201 LAGUNA OAKS DR Unit 162,ELK GROVE,95758,CA,2,2,1039,Condo,Wed May 21 00:00:00 EDT 2008,141000,38.423251,-121.444489
42,8718 ELK WAY,ELK GROVE,95624,CA,3,2,1056,Residential,Wed May 21 00:00:00 EDT 2008,156896,38.416530,-121.379653
50,9417 SARA ST,ELK GROVE,95624,CA,3,2,1188,Residential,Wed May 21 00:00:00 EDT 2008,170000,38.415518,-121.370527
66,7005 TIANT WAY,ELK GROVE,95758,CA,3,2,1586,Residential,Wed May 21 00:00:00 EDT 2008,194000,38.422811,-121.423285
70,8708 MESA BROOK WAY,ELK GROVE,95624,CA,4,2,1715,Residential,Wed May 21 00:00:00 EDT 2008,199500,38.440760,-121.385792
76,9080 FRESCA WAY,ELK GROVE,95758,CA,4,2,1596,Residential,Wed May 21 00:00:00 EDT 2008,221000,38.427818,-121.424026
78,8373 BLACKMAN WAY,ELK GROVE,95624,CA,5,3,2136,Residential,Wed May 21 00:00:00 EDT 2008,223058,38.435436,-121.394536
79,9837 CORTE DORADO CT,ELK GROVE,95624,CA,4,2,1616,Residential,Wed May 21 00:00:00 EDT 2008,227887,38.400676,-121.381010
87,4804 NORIKER DR,ELK GROVE,95757,CA,3,2,2163,Residential,Wed May 21 00:00:00 EDT 2008,242638,38.400974,-121.448424
91,8636 TEGEA WAY,ELK GROVE,95624,CA,5,3,2508,Residential,Wed May 21 00:00:00 EDT 2008,245918,38.443832,-121.382087
93,18 OLLIE CT,ELK GROVE,95758,CA,4,2,1591,Residential,Wed May 21 00:00:00 EDT 2008,250000,38.444909,-121.412345
95,4901 MILLNER WAY,ELK GROVE,95757,CA,3,2,1843,Residential,Wed May 21 00:00:00 EDT 2008,254200,38.386920,-121.447349
97,5529 LAGUNA PARK DR,ELK GROVE,95758,CA,5,3,2790,Residential,Wed May 21 00:00:00 EDT 2008,258000,38.425680,-121.438062
109,9507 SEA CLIFF WAY,ELK GROVE,95758,CA,4,2,2056,Residential,Wed May 21 00:00:00 EDT 2008,285000,38.410992,-121.479043
110,8882 AUTUMN GOLD CT,ELK GROVE,95624,CA,4,2,1993,Residential,Wed May 21 00:00:00 EDT 2008,287417,38.443900,-121.372550
111,5322 WHITE LOTUS WAY,ELK GROVE,95757,CA,3,2,1857,Residential,Wed May 21 00:00:00 EDT 2008,291000,38.391538,-121.442596
114,7731 MASTERS ST,ELK GROVE,95758,CA,5,3,2494,Residential,Wed May 21 00:00:00 EDT 2008,297000,38.442031,-121.410873
115,4925 PERCHERON DR,ELK GROVE,95757,CA,3,2,1843,Residential,Wed May 21 00:00:00 EDT 2008,298000,38.401540,-121.447649
118,8664 MAGNOLIA HILL WAY,ELK GROVE,95624,CA,4,2,2309,Residential,Wed May 21 00:00:00 EDT 2008,311000,38.442352,-121.389675
124,4620 WELERA WAY,ELK GROVE,95757,CA,3,3,2725,Residential,Wed May 21 00:00:00 EDT 2008,335750,38.398609,-121.450148
125,9723 TERRAPIN CT,ELK GROVE,95757,CA,4,3,2354,Residential,Wed May 21 00:00:00 EDT 2008,335750,38.403492,-121.430224
128,9488 OAK VILLAGE WAY,ELK GROVE,95758,CA,4,2,1801,Residential,Wed May 21 00:00:00 EDT 2008,346210,38.413330,-121.404999
130,6708 PONTA DO SOL WAY,ELK GROVE,95757,CA,4,2,3134,Residential,Wed May 21 00:00:00 EDT 2008,347650,38.380635,-121.425538
136,7105 DANBERG WAY,ELK GROVE,95757,CA,5,3,3164,Residential,Wed May 21 00:00:00 EDT 2008,375000,38.401900,-121.420388
141,6801 RAWLEY WAY,ELK GROVE,95757,CA,4,3,3440,Residential,Wed May 21 00:00:00 EDT 2008,394470,38.408351,-121.423925
143,9361 WADDELL LN,ELK GROVE,95624,CA,4,3,2359,Residential,Wed May 21 00:00:00 EDT 2008,400186,38.450829,-121.349928
145,6945 RIO TEJO WAY,ELK GROVE,95757,CA,5,3,3433,Residential,Wed May 21 00:00:00 EDT 2008,425000,38.385638,-121.422616
147,9278 DAIRY CT,ELK GROVE,95624,CA,0,0,0,Residential,Wed May 21 00:00:00 EDT 2008,445000,38.420338,-121.363757
149,6507 RIO DE ONAR WAY,ELK GROVE,95757,CA,4,3,2724,Residential,Wed May 21 00:00:00 EDT 2008,461000,38.382530,-121.428007
...,...,...,...,...,...,...,...,...,...,...,...,...
730,9297 TROUT WAY,ELK GROVE,95624,CA,4,2,2367,Residential,Fri May 16 00:00:00 EDT 2008,240000,38.420637,-121.375798
740,9247 DELAIR WAY,ELK GROVE,95758,CA,4,3,1899,Residential,Fri May 16 00:00:00 EDT 2008,249000,38.422241,-121.458022
741,9054 DESCENDANT DR,ELK GROVE,95758,CA,3,2,1636,Residential,Fri May 16 00:00:00 EDT 2008,250000,38.428852,-121.415628
745,8671 SUMMER SUN WAY,ELK GROVE,95624,CA,3,2,1451,Residential,Fri May 16 00:00:00 EDT 2008,255000,38.442845,-121.373272
752,10165 LOFTON WAY,ELK GROVE,95757,CA,3,2,1540,Residential,Fri May 16 00:00:00 EDT 2008,266510,38.387708,-121.436522
758,9949 NESTLING CIR,ELK GROVE,95757,CA,3,2,1543,Residential,Fri May 16 00:00:00 EDT 2008,275000,38.397455,-121.468391
765,8986 HAFLINGER WAY,ELK GROVE,95757,CA,3,2,1857,Residential,Fri May 16 00:00:00 EDT 2008,285000,38.397923,-121.450219
766,2916 BABSON DR,ELK GROVE,95758,CA,3,2,1735,Residential,Fri May 16 00:00:00 EDT 2008,288000,38.417191,-121.473897
767,10133 NEBBIOLO CT,ELK GROVE,95624,CA,4,3,2096,Residential,Fri May 16 00:00:00 EDT 2008,289000,38.391085,-121.347231
772,8463 TERRACOTTA CT,ELK GROVE,95624,CA,4,2,1721,Residential,Fri May 16 00:00:00 EDT 2008,294173,38.450548,-121.363002
774,8253 KEEGAN WAY,ELK GROVE,95624,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,298000,38.446286,-121.400817
775,9204 TROUT WAY,ELK GROVE,95624,CA,4,2,1982,Residential,Fri May 16 00:00:00 EDT 2008,298000,38.422221,-121.375799
779,9452 RED SPRUCE WAY,ELK GROVE,95624,CA,6,3,2555,Residential,Fri May 16 00:00:00 EDT 2008,300000,38.404505,-121.346938
781,5908 MCLEAN DR,ELK GROVE,95757,CA,5,3,2592,Residential,Fri May 16 00:00:00 EDT 2008,303000,38.389120,-121.434389
810,4821 HUTSON WAY,ELK GROVE,95757,CA,5,3,2877,Residential,Fri May 16 00:00:00 EDT 2008,349000,38.386239,-121.448159
821,6905 FRANKFORT CT,ELK GROVE,95758,CA,3,2,1485,Residential,Fri May 16 00:00:00 EDT 2008,380578,38.429139,-121.423444
827,9677 PILLITERI CT,ELK GROVE,95757,CA,5,3,2875,Residential,Fri May 16 00:00:00 EDT 2008,397000,38.405571,-121.445186
929,8916 GABLES MILL PL,ELK GROVE,95758,CA,3,2,1340,Residential,Thu May 15 00:00:00 EDT 2008,174000,38.433919,-121.422347
931,8879 APPLE PEAR CT,ELK GROVE,95624,CA,4,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,176850,38.445740,-121.372500
945,5509 LAGUNA CREST WAY,ELK GROVE,95758,CA,3,2,1175,Residential,Thu May 15 00:00:00 EDT 2008,200000,38.424420,-121.440357
946,8424 MERRY HILL WAY,ELK GROVE,95624,CA,3,2,1416,Residential,Thu May 15 00:00:00 EDT 2008,200000,38.452075,-121.366461
949,8789 SEQUOIA WOOD CT,ELK GROVE,95624,CA,4,2,1609,Residential,Thu May 15 00:00:00 EDT 2008,204750,38.438818,-121.374430
953,5209 LAGUNA CREST WAY,ELK GROVE,95758,CA,2,2,1189,Residential,Thu May 15 00:00:00 EDT 2008,207000,38.424421,-121.443915
958,8652 BANTON CIR,ELK GROVE,95624,CA,4,2,1740,Residential,Thu May 15 00:00:00 EDT 2008,211500,38.444000,-121.370993
961,9020 LUKEN CT,ELK GROVE,95624,CA,3,2,1416,Residential,Thu May 15 00:00:00 EDT 2008,216000,38.451398,-121.366614
964,10085 ATKINS DR,ELK GROVE,95757,CA,3,2,1302,Residential,Thu May 15 00:00:00 EDT 2008,219794,38.390893,-121.437821
965,9185 CERROLINDA CIR,ELK GROVE,95758,CA,3,2,1418,Residential,Thu May 15 00:00:00 EDT 2008,220000,38.424497,-121.426595
975,5024 CHAMBERLIN CIR,ELK GROVE,95757,CA,3,2,1450,Residential,Thu May 15 00:00:00 EDT 2008,228000,38.389756,-121.446246
979,1909 YARNELL WAY,ELK GROVE,95758,CA,3,2,1262,Residential,Thu May 15 00:00:00 EDT 2008,230000,38.417382,-121.484325
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424

City: ELVERTA

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
33,7944 DOMINION WAY,ELVERTA,95626,CA,3,2,1116,Residential,Wed May 21 00:00:00 EDT 2008,138750,38.713182,-121.411227
183,2505 RHINE WAY,ELVERTA,95626,CA,3,2,1080,Residential,Tue May 20 00:00:00 EDT 2008,126000,38.717976,-121.407684
376,7741 MILLDALE CIR,ELVERTA,95626,CA,4,2,1354,Residential,Mon May 19 00:00:00 EDT 2008,126714,38.705834,-121.439190
384,2421 SANTINA WAY,ELVERTA,95626,CA,3,2,1416,Residential,Mon May 19 00:00:00 EDT 2008,140000,38.718650,-121.407763

City: FAIR OAKS

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
190,5333 PRIMROSE DR Unit 19A,FAIR OAKS,95628,CA,2,2,994,Condo,Tue May 20 00:00:00 EDT 2008,142500,38.662785,-121.276272
243,8164 CHENIN BLANC LN,FAIR OAKS,95628,CA,2,2,1315,Residential,Tue May 20 00:00:00 EDT 2008,230000,38.665644,-121.259969
272,8806 PHOENIX AVE,FAIR OAKS,95628,CA,3,2,1450,Residential,Tue May 20 00:00:00 EDT 2008,286013,38.660322,-121.230101
275,5413 BUENA VENTURA WAY,FAIR OAKS,95628,CA,3,2,1527,Residential,Tue May 20 00:00:00 EDT 2008,293993,38.664552,-121.255937
332,4128 HILL ST,FAIR OAKS,95628,CA,5,5,2846,Residential,Tue May 20 00:00:00 EDT 2008,680000,38.641670,-121.262099
693,6908 PIN OAK CT,FAIR OAKS,95628,CA,3,1,1144,Residential,Fri May 16 00:00:00 EDT 2008,200000,38.664240,-121.303675
849,8217 PLUMERIA AVE,FAIR OAKS,95628,CA,3,2,3173,Residential,Fri May 16 00:00:00 EDT 2008,525000,38.650735,-121.258628
933,8570 SHERATON DR,FAIR OAKS,95628,CA,3,1,960,Residential,Thu May 15 00:00:00 EDT 2008,185000,38.667254,-121.240708
937,5624 MEMORY LN,FAIR OAKS,95628,CA,3,1,1529,Residential,Thu May 15 00:00:00 EDT 2008,189000,38.667450,-121.236400

City: FOLSOM

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
71,120 GRANT LN,FOLSOM,95630,CA,3,2,1820,Residential,Wed May 21 00:00:00 EDT 2008,200000,38.687742,-121.171040
127,100 REBECCA WAY,FOLSOM,95630,CA,3,2,2185,Residential,Wed May 21 00:00:00 EDT 2008,344250,38.684790,-121.149199
148,207 ORANGE BLOSSOM CIR Unit C,FOLSOM,95630,CA,5,3,2687,Residential,Wed May 21 00:00:00 EDT 2008,460000,38.646273,-121.175322
152,2217 APPALOOSA CT,FOLSOM,95630,CA,4,2,2462,Residential,Wed May 21 00:00:00 EDT 2008,539000,38.655167,-121.090178
153,868 HILDEBRAND CIR,FOLSOM,95630,CA,0,0,0,Residential,Wed May 21 00:00:00 EDT 2008,585000,38.670947,-121.097727
248,611 BLOSSOM ROCK LN,FOLSOM,95630,CA,0,0,0,Condo,Tue May 20 00:00:00 EDT 2008,240000,38.645700,-121.119700
290,106 FARHAM DR,FOLSOM,95630,CA,3,2,1258,Residential,Tue May 20 00:00:00 EDT 2008,330000,38.667834,-121.168578
295,411 ILLSLEY WAY,FOLSOM,95630,CA,4,2,1595,Residential,Tue May 20 00:00:00 EDT 2008,339000,38.652002,-121.129504
314,1044 GALSTON DR,FOLSOM,95630,CA,4,2,2581,Residential,Tue May 20 00:00:00 EDT 2008,450000,38.676306,-121.099540
452,617 WILLOW CREEK DR,FOLSOM,95630,CA,3,2,1427,Residential,Mon May 19 00:00:00 EDT 2008,236073,38.679626,-121.142609
529,169 BAURER CIR,FOLSOM,95630,CA,4,3,1939,Residential,Mon May 19 00:00:00 EDT 2008,423000,38.666950,-121.120729
542,100 CHELSEA CT,FOLSOM,95630,CA,3,2,1905,Residential,Mon May 19 00:00:00 EDT 2008,500000,38.694350,-121.177259
548,104 CATLIN CT,FOLSOM,95630,CA,4,3,2660,Residential,Mon May 19 00:00:00 EDT 2008,636000,38.684459,-121.145935
785,1356 HARTLEY WAY,FOLSOM,95630,CA,3,2,1327,Residential,Fri May 16 00:00:00 EDT 2008,310000,38.651617,-121.131674
838,700 HUNTER PL,FOLSOM,95630,CA,5,3,2787,Residential,Fri May 16 00:00:00 EDT 2008,441000,38.660510,-121.163689
840,1113 SANDWICK WAY,FOLSOM,95630,CA,4,3,3261,Residential,Fri May 16 00:00:00 EDT 2008,446000,38.673882,-121.105077
854,203 CASCADE FALLS DR,FOLSOM,95630,CA,4,3,3229,Residential,Fri May 16 00:00:00 EDT 2008,575000,38.703962,-121.187100

City: FORESTHILL

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
686,5890 TT TRAK,FORESTHILL,95631,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,194818,39.020808,-120.821518

City: GALT

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
55,1122 WILD POPPY CT,GALT,95632,CA,3,2,1406,Residential,Wed May 21 00:00:00 EDT 2008,178760,38.287789,-121.294715
61,306 CAMELLIA WAY,GALT,95632,CA,3,2,1130,Residential,Wed May 21 00:00:00 EDT 2008,182750,38.260443,-121.297864
63,404 6TH ST,GALT,95632,CA,3,1,1479,Residential,Wed May 21 00:00:00 EDT 2008,188741,38.251808,-121.302493
174,1121 CREEKSIDE WAY,GALT,95632,CA,3,1,1080,Residential,Tue May 20 00:00:00 EDT 2008,106716,38.241514,-121.312199
189,840 TRANQUIL LN,GALT,95632,CA,3,2,1266,Residential,Tue May 20 00:00:00 EDT 2008,140000,38.270617,-121.299205
281,993 MANTON CT,GALT,95632,CA,4,3,2307,Residential,Tue May 20 00:00:00 EDT 2008,300000,38.272942,-121.289148
296,796 BUTTERCUP CIR,GALT,95632,CA,4,2,2159,Residential,Tue May 20 00:00:00 EDT 2008,345000,38.279581,-121.300828
307,1092 MAUGHAM CT,GALT,95632,CA,5,4,3746,Residential,Tue May 20 00:00:00 EDT 2008,420000,38.271646,-121.286848
372,201 CARLO CT,GALT,95632,CA,3,2,1080,Residential,Mon May 19 00:00:00 EDT 2008,122000,38.242270,-121.310320
402,746 MOOSE CREEK WAY,GALT,95632,CA,3,2,1100,Residential,Mon May 19 00:00:00 EDT 2008,167000,38.283085,-121.302071
409,332 PALIN AVE,GALT,95632,CA,3,2,1204,Residential,Mon May 19 00:00:00 EDT 2008,174000,38.260467,-121.302636
439,913 COBDEN CT,GALT,95632,CA,4,2,1555,Residential,Mon May 19 00:00:00 EDT 2008,225500,38.282001,-121.295902
454,709 CIMMARON CT,GALT,95632,CA,4,2,1798,Residential,Mon May 19 00:00:00 EDT 2008,238861,38.277177,-121.303747
480,1042 STARBROOK DR,GALT,95632,CA,4,2,1928,Residential,Mon May 19 00:00:00 EDT 2008,280000,38.285611,-121.293063
508,200 OAKWILDE ST,GALT,95632,CA,4,2,1606,Residential,Mon May 19 00:00:00 EDT 2008,353767,38.253500,-121.318120
509,1033 PARK STREAM DR,GALT,95632,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,355000,38.287785,-121.289903
652,925 COBDEN CT,GALT,95632,CA,3,2,1140,Residential,Fri May 16 00:00:00 EDT 2008,162000,38.282047,-121.295812
761,294 SPARROW DR,GALT,95632,CA,4,3,2214,Residential,Fri May 16 00:00:00 EDT 2008,278000,38.258976,-121.321266
800,1214 DAWNWOOD DR,GALT,95632,CA,3,2,1548,Residential,Fri May 16 00:00:00 EDT 2008,328370,38.290119,-121.286023
957,82 WILDFLOWER DR,GALT,95632,CA,3,2,1262,Residential,Thu May 15 00:00:00 EDT 2008,209347,38.259708,-121.311616
968,1178 WARMWOOD CT,GALT,95632,CA,4,2,1770,Residential,Thu May 15 00:00:00 EDT 2008,220000,38.289544,-121.284607

City: GARDEN VALLEY

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
845,6401 MARSHALL RD,GARDEN VALLEY,95633,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,490000,38.84255,-120.8754

City: GOLD RIVER

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
116,2010 PROMONTORY POINT LN,GOLD RIVER,95670,CA,2,2,1520,Residential,Wed May 21 00:00:00 EDT 2008,299000,38.628690,-121.261669
279,11281 STANFORD COURT LN Unit 604,GOLD RIVER,95670,CA,0,0,0,Condo,Tue May 20 00:00:00 EDT 2008,300000,38.625289,-121.260286
284,2015 PROMONTORY POINT LN,GOLD RIVER,95670,CA,3,2,1981,Residential,Tue May 20 00:00:00 EDT 2008,305000,38.628732,-121.261149
546,2049 EMPIRE MINE CIR,GOLD RIVER,95670,CA,4,2,3037,Residential,Mon May 19 00:00:00 EDT 2008,528000,38.629299,-121.249021

City: GRANITE BAY

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
550,4629 DORCHESTER LN,GRANITE BAY,95746,CA,5,3,2896,Residential,Mon May 19 00:00:00 EDT 2008,676200,38.723545,-121.216025
553,6222 CALLE MONTALVO CIR,GRANITE BAY,95746,CA,5,3,3670,Residential,Mon May 19 00:00:00 EDT 2008,760000,38.779435,-121.146676
858,620 KESWICK CT,GRANITE BAY,95746,CA,4,3,2356,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.732096,-121.219142

City: GREENWOOD

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
142,1693 SHELTER COVE DR,GREENWOOD,95635,CA,3,2,2846,Residential,Wed May 21 00:00:00 EDT 2008,395000,38.945357,-120.908822

City: LINCOLN

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
224,1636 ALLENWOOD CIR,LINCOLN,95648,CA,4,2,0,Residential,Tue May 20 00:00:00 EDT 2008,202500,38.879192,-121.309477
262,632 NEWBRIDGE LN,LINCOLN,95648,CA,4,2,0,Residential,Tue May 20 00:00:00 EDT 2008,261800,38.879084,-121.298586
278,1102 CHESLEY LN,LINCOLN,95648,CA,4,4,0,Residential,Tue May 20 00:00:00 EDT 2008,297500,38.864864,-121.313988
287,1312 RENISON LN,LINCOLN,95648,CA,5,3,0,Residential,Tue May 20 00:00:00 EDT 2008,315000,38.866409,-121.308485
289,2251 LAMPLIGHT LN,LINCOLN,95648,CA,2,2,1449,Residential,Tue May 20 00:00:00 EDT 2008,330000,38.849924,-121.275729
311,1456 EAGLESFIELD LN,LINCOLN,95648,CA,4,3,0,Residential,Tue May 20 00:00:00 EDT 2008,436746,38.857635,-121.311375
492,2513 OLD KENMARE RD,LINCOLN,95648,CA,5,3,0,Residential,Mon May 19 00:00:00 EDT 2008,304000,38.847396,-121.259586
544,408 KIRKWOOD CT,LINCOLN,95648,CA,2,2,0,Residential,Mon May 19 00:00:00 EDT 2008,512000,38.861615,-121.268690
554,20 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885327,-121.289412
555,24 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885132,-121.289405
556,28 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884936,-121.289397
557,32 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884741,-121.289390
558,36 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884599,-121.289406
559,40 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884535,-121.289619
560,44 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884590,-121.289835
561,48 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884667,-121.289896
562,52 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884780,-121.289911
563,68 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885236,-121.289928
564,72 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885350,-121.289926
565,76 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885464,-121.289922
566,80 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885578,-121.289919
567,84 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885692,-121.289915
568,88 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885806,-121.289911
569,92 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885920,-121.289908
570,96 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886024,-121.289859
571,100 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886091,-121.289744
572,434 1ST ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886530,-121.289406
573,3 E ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884692,-121.290288
574,11 E ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884879,-121.290257
575,19 E ST,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885017,-121.290262
...,...,...,...,...,...,...,...,...,...,...,...,...
588,100 CRYSTALWOOD WAY,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886282,-121.289706
589,55 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884865,-121.289922
590,51 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884752,-121.289907
591,47 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884638,-121.289893
592,43 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884568,-121.289784
593,39 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884546,-121.289562
594,35 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884645,-121.289397
595,31 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884790,-121.289392
596,27 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884985,-121.289399
597,23 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885181,-121.289406
598,19 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885376,-121.289414
599,15 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885571,-121.289421
600,7 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885962,-121.289436
601,7 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885962,-121.289436
602,3 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.886093,-121.289584
750,2298 PRIMROSE LN,LINCOLN,95648,CA,3,2,1621,Residential,Fri May 16 00:00:00 EDT 2008,260000,38.899180,-121.322514
753,1251 GREEN RAVINE DR,LINCOLN,95648,CA,4,2,0,Residential,Fri May 16 00:00:00 EDT 2008,267750,38.881560,-121.301343
760,2678 BRIARTON DR,LINCOLN,95648,CA,3,2,1650,Residential,Fri May 16 00:00:00 EDT 2008,276500,38.844116,-121.274806
783,1104 HILLSDALE LN,LINCOLN,95648,CA,4,2,0,Residential,Fri May 16 00:00:00 EDT 2008,306000,38.865017,-121.323020
788,1571 WILD OAK LN,LINCOLN,95648,CA,5,3,2457,Residential,Fri May 16 00:00:00 EDT 2008,312000,38.844144,-121.274174
801,1440 EMERALD LN,LINCOLN,95648,CA,2,2,0,Residential,Fri May 16 00:00:00 EDT 2008,330000,38.861864,-121.267478
812,1965 LAURELHURST LN,LINCOLN,95648,CA,2,2,0,Residential,Fri May 16 00:00:00 EDT 2008,350000,38.853869,-121.271742
823,201 KIRKLAND CT,LINCOLN,95648,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,389000,38.867125,-121.319085
828,1515 EL CAMINO VERDE DR,LINCOLN,95648,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,400000,38.904869,-121.320750
836,1536 STONEY CROSS LN,LINCOLN,95648,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,433500,38.860007,-121.310946
865,3720 VISTA DE MADERA,LINCOLN,95648,CA,3,3,0,Residential,Fri May 16 00:00:00 EDT 2008,1551,38.851645,-121.231742
901,1530 TOPANGA LN Unit 204,LINCOLN,95648,CA,0,0,0,Condo,Thu May 15 00:00:00 EDT 2008,138000,38.884150,-121.270277
921,604 P ST,LINCOLN,95648,CA,3,2,1104,Residential,Thu May 15 00:00:00 EDT 2008,170000,38.893168,-121.305398
934,1550 TOPANGA LN Unit 207,LINCOLN,95648,CA,0,0,0,Condo,Thu May 15 00:00:00 EDT 2008,188000,38.884170,-121.270222
976,2400 INVERNESS DR,LINCOLN,95648,CA,3,2,1358,Residential,Thu May 15 00:00:00 EDT 2008,229027,38.897814,-121.324691

City: LOOMIS

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
334,3935 EL MONTE DR,LOOMIS,95650,CA,4,4,1624,Residential,Tue May 20 00:00:00 EDT 2008,839000,38.813337,-121.133348
773,5747 KING RD,LOOMIS,95650,CA,4,2,1328,Residential,Fri May 16 00:00:00 EDT 2008,295000,38.825096,-121.198432

City: MATHER

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
85,4243 MIDDLEBURY WAY,MATHER,95655,CA,3,2,2093,Residential,Wed May 21 00:00:00 EDT 2008,237800,38.547991,-121.280483

City: MEADOW VISTA

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
242,2284 LOS ROBLES RD,MEADOW VISTA,95722,CA,3,1,1216,Residential,Tue May 20 00:00:00 EDT 2008,230000,39.008159,-121.03623

City: NORTH HIGHLANDS

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
22,7511 OAKVALE CT,NORTH HIGHLANDS,95660,CA,4,2,1240,Residential,Wed May 21 00:00:00 EDT 2008,123000,38.702792,-121.382210
24,3729 BAINBRIDGE DR,NORTH HIGHLANDS,95660,CA,3,2,901,Residential,Wed May 21 00:00:00 EDT 2008,125000,38.701499,-121.376220
31,6768 MEDORA DR,NORTH HIGHLANDS,95660,CA,3,2,1152,Residential,Wed May 21 00:00:00 EDT 2008,134555,38.691161,-121.371920
36,5031 CORVAIR ST,NORTH HIGHLANDS,95660,CA,3,2,1082,Residential,Wed May 21 00:00:00 EDT 2008,147308,38.658246,-121.375469
44,7315 KOALA CT,NORTH HIGHLANDS,95660,CA,4,2,1587,Residential,Wed May 21 00:00:00 EDT 2008,161500,38.699251,-121.371414
176,3725 DON JULIO BLVD,NORTH HIGHLANDS,95660,CA,3,1,1051,Residential,Tue May 20 00:00:00 EDT 2008,111000,38.678950,-121.379406
181,3800 LYNHURST WAY,NORTH HIGHLANDS,95660,CA,3,1,888,Residential,Tue May 20 00:00:00 EDT 2008,125000,38.650445,-121.374861
184,3692 PAYNE WAY,NORTH HIGHLANDS,95660,CA,3,1,957,Residential,Tue May 20 00:00:00 EDT 2008,129000,38.666540,-121.378298
196,4207 PAINTER WAY,NORTH HIGHLANDS,95660,CA,4,2,1183,Residential,Tue May 20 00:00:00 EDT 2008,146000,38.692915,-121.367497
357,3732 LANKERSHIM WAY,NORTH HIGHLANDS,95660,CA,3,1,1331,Residential,Mon May 19 00:00:00 EDT 2008,112500,38.689720,-121.378399
365,3726 JONKO AVE,NORTH HIGHLANDS,95660,CA,3,2,1207,Residential,Mon May 19 00:00:00 EDT 2008,119250,38.656131,-121.377265
380,7226 LARCHMONT DR,NORTH HIGHLANDS,95660,CA,3,2,1209,Residential,Mon May 19 00:00:00 EDT 2008,130000,38.699269,-121.376334
396,7204 THOMAS DR,NORTH HIGHLANDS,95660,CA,3,2,1152,Residential,Mon May 19 00:00:00 EDT 2008,158000,38.697898,-121.377687
606,5805 DOTMAR WAY,NORTH HIGHLANDS,95660,CA,2,1,904,Residential,Fri May 16 00:00:00 EDT 2008,63000,38.672642,-121.380343
631,6548 GRAYLOCK LN,NORTH HIGHLANDS,95660,CA,3,2,1272,Residential,Fri May 16 00:00:00 EDT 2008,124413,38.686061,-121.369949
634,4073 TRESLER AVE,NORTH HIGHLANDS,95660,CA,2,2,1118,Residential,Fri May 16 00:00:00 EDT 2008,131750,38.659016,-121.370457
880,6208 GRATTAN WAY,NORTH HIGHLANDS,95660,CA,3,1,1051,Residential,Thu May 15 00:00:00 EDT 2008,105000,38.679279,-121.376615
884,5628 GEORGIA DR,NORTH HIGHLANDS,95660,CA,3,1,1229,Residential,Thu May 15 00:00:00 EDT 2008,110000,38.669587,-121.379879
913,6513 HOLIDAY WAY,NORTH HIGHLANDS,95660,CA,3,2,1373,Residential,Thu May 15 00:00:00 EDT 2008,160000,38.685361,-121.376938
956,6920 GILLINGHAM WAY,NORTH HIGHLANDS,95660,CA,3,1,1310,Residential,Thu May 15 00:00:00 EDT 2008,208318,38.694279,-121.373395
972,7381 WASHBURN WAY,NORTH HIGHLANDS,95660,CA,3,1,960,Residential,Thu May 15 00:00:00 EDT 2008,224252,38.703550,-121.375103

City: ORANGEVALE

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
62,9021 MADISON AVE,ORANGEVALE,95662,CA,4,2,1603,Residential,Wed May 21 00:00:00 EDT 2008,183200,38.664186,-121.217511
123,8025 PEERLESS AVE,ORANGEVALE,95662,CA,2,1,1690,Residential,Wed May 21 00:00:00 EDT 2008,334150,38.711470,-121.216214
254,5706 GREENACRES WAY,ORANGEVALE,95662,CA,3,2,1176,Residential,Tue May 20 00:00:00 EDT 2008,250000,38.669882,-121.213533
255,6900 LONICERA DR,ORANGEVALE,95662,CA,4,2,1456,Residential,Tue May 20 00:00:00 EDT 2008,250000,38.692199,-121.250975
465,8304 JUGLANS DR,ORANGEVALE,95662,CA,4,2,1574,Residential,Mon May 19 00:00:00 EDT 2008,252155,38.691829,-121.249033
538,6935 ELM TREE LN,ORANGEVALE,95662,CA,4,4,3056,Residential,Mon May 19 00:00:00 EDT 2008,475000,38.693041,-121.232940
749,6221 GREEN TOP WAY,ORANGEVALE,95662,CA,3,2,1196,Residential,Fri May 16 00:00:00 EDT 2008,260000,38.679409,-121.219107
790,5601 SPINDRIFT LN,ORANGEVALE,95662,CA,4,2,2004,Residential,Fri May 16 00:00:00 EDT 2008,315000,38.668289,-121.192316
806,5544 CAMAS CT,ORANGEVALE,95662,CA,3,2,1616,Residential,Fri May 16 00:00:00 EDT 2008,335000,38.667703,-121.209456
940,6601 WOODMORE OAKS DR,ORANGEVALE,95662,CA,3,2,1294,Residential,Thu May 15 00:00:00 EDT 2008,191250,38.687006,-121.254319
974,7540 HICKORY AVE,ORANGEVALE,95662,CA,3,1,1456,Residential,Thu May 15 00:00:00 EDT 2008,225000,38.703056,-121.235221

City: PENRYN

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
543,1500 ORANGE HILL LN,PENRYN,95663,CA,3,2,1320,Residential,Mon May 19 00:00:00 EDT 2008,506688,38.862708,-121.162092

City: PLACERVILLE

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
227,2370 BIG CANYON CREEK RD,PLACERVILLE,95667,CA,3,2,0,Residential,Tue May 20 00:00:00 EDT 2008,205000,38.744580,-120.794254
231,1889 COLD SPRINGS RD,PLACERVILLE,95667,CA,2,1,948,Residential,Tue May 20 00:00:00 EDT 2008,211500,38.739774,-120.860243
282,4487 PANORAMA DR,PLACERVILLE,95667,CA,3,2,1329,Residential,Tue May 20 00:00:00 EDT 2008,300000,38.694559,-120.848157
297,1230 SANDRA CIR,PLACERVILLE,95667,CA,4,3,2295,Residential,Tue May 20 00:00:00 EDT 2008,350000,38.738141,-120.784145
322,9970 STATE HIGHWAY 193,PLACERVILLE,95667,CA,4,3,1929,Residential,Tue May 20 00:00:00 EDT 2008,485000,38.787877,-120.816676
518,2113 FALL TRAIL CT,PLACERVILLE,95667,CA,4,2,0,Residential,Mon May 19 00:00:00 EDT 2008,371086,38.733155,-120.748039
551,2400 COUNTRYSIDE DR,PLACERVILLE,95667,CA,3,2,2025,Residential,Mon May 19 00:00:00 EDT 2008,677048,38.737452,-120.910963
754,6001 SHOO FLY RD,PLACERVILLE,95667,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,270000,38.813546,-120.809254
771,865 CONRAD CT,PLACERVILLE,95667,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,294000,38.729993,-120.802458
844,4320 FOUR SEASONS RD,PLACERVILLE,95667,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,475000,38.690867,-120.693641

City: POLLOCK PINES

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
102,5615 LUPIN LN,POLLOCK PINES,95726,CA,3,2,1380,Residential,Wed May 21 00:00:00 EDT 2008,265000,38.708315,-120.603872
106,2900 BLAIR RD,POLLOCK PINES,95726,CA,2,2,1284,Residential,Wed May 21 00:00:00 EDT 2008,280908,38.754850,-120.604760
663,2250 FOREBAY RD,POLLOCK PINES,95726,CA,3,1,1320,Residential,Fri May 16 00:00:00 EDT 2008,175000,38.774910,-120.597599

City: RANCHO CORDOVA

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
8,11150 TRINITY RIVER DR Unit 114,RANCHO CORDOVA,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
81,10245 LOS PALOS DR,RANCHO CORDOVA,95670,CA,3,2,1287,Residential,Wed May 21 00:00:00 EDT 2008,234697,38.593699,-121.310890
100,12209 CONSERVANCY WAY,RANCHO CORDOVA,95742,CA,0,0,0,Residential,Wed May 21 00:00:00 EDT 2008,263500,38.553867,-121.219141
120,4359 CREGAN CT,RANCHO CORDOVA,95742,CA,5,4,3516,Residential,Wed May 21 00:00:00 EDT 2008,320000,38.545128,-121.224922
121,5337 DUSTY ROSE WAY,RANCHO CORDOVA,95742,CA,0,0,0,Residential,Wed May 21 00:00:00 EDT 2008,320000,38.528575,-121.228600
146,4186 TULIP PARK WAY,RANCHO CORDOVA,95742,CA,5,3,3615,Residential,Wed May 21 00:00:00 EDT 2008,430000,38.550617,-121.235260
178,10542 SILVERWOOD WAY,RANCHO CORDOVA,95670,CA,3,1,1098,Residential,Tue May 20 00:00:00 EDT 2008,120108,38.587156,-121.295778
211,2460 EL ROCCO WAY,RANCHO CORDOVA,95670,CA,3,2,1671,Residential,Tue May 20 00:00:00 EDT 2008,175000,38.591477,-121.315340
217,2219 EL CANTO CIR,RANCHO CORDOVA,95670,CA,4,2,1829,Residential,Tue May 20 00:00:00 EDT 2008,184500,38.592383,-121.318669
293,3512 RAINSONG CIR,RANCHO CORDOVA,95670,CA,4,3,2208,Residential,Tue May 20 00:00:00 EDT 2008,336000,38.573488,-121.282809
308,5404 ALMOND FALLS WAY,RANCHO CORDOVA,95742,CA,0,0,0,Residential,Tue May 20 00:00:00 EDT 2008,425000,38.527502,-121.233492
451,10949 SCOTSMAN WAY,RANCHO CORDOVA,95670,CA,5,4,2382,Multi-Family,Mon May 19 00:00:00 EDT 2008,236000,38.603686,-121.277844
473,11826 DIONYSUS WAY,RANCHO CORDOVA,95742,CA,4,2,2711,Residential,Mon May 19 00:00:00 EDT 2008,266000,38.551046,-121.239411
489,10629 BASIE WAY,RANCHO CORDOVA,95670,CA,4,2,1524,Residential,Mon May 19 00:00:00 EDT 2008,296056,38.579000,-121.292627
493,3253 ABOTO WAY,RANCHO CORDOVA,95670,CA,4,3,1851,Residential,Mon May 19 00:00:00 EDT 2008,305000,38.577270,-121.285591
503,12241 CANYONLANDS DR,RANCHO CORDOVA,95742,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,331500,38.557293,-121.217611
522,11817 OPAL RIDGE WAY,RANCHO CORDOVA,95742,CA,5,3,3281,Residential,Mon May 19 00:00:00 EDT 2008,395100,38.551083,-121.237476
621,2426 RASHAWN DR,RANCHO CORDOVA,95670,CA,2,1,911,Residential,Fri May 16 00:00:00 EDT 2008,115000,38.610852,-121.273278
625,2361 LA LOMA DR,RANCHO CORDOVA,95670,CA,3,2,1115,Residential,Fri May 16 00:00:00 EDT 2008,116000,38.593680,-121.316054
668,2421 BERRYWOOD DR,RANCHO CORDOVA,95670,CA,3,2,1157,Residential,Fri May 16 00:00:00 EDT 2008,180000,38.608680,-121.278490
684,2909 SHAWN WAY,RANCHO CORDOVA,95670,CA,3,2,1452,Residential,Fri May 16 00:00:00 EDT 2008,193000,38.589925,-121.299059
726,2319 THORES ST,RANCHO CORDOVA,95670,CA,3,2,1074,Residential,Fri May 16 00:00:00 EDT 2008,233000,38.596750,-121.312716
732,11130 EEL RIVER CT,RANCHO CORDOVA,95670,CA,2,2,1406,Residential,Fri May 16 00:00:00 EDT 2008,242000,38.625932,-121.271517
789,5222 COPPER SUNSET WAY,RANCHO CORDOVA,95742,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,313000,38.529181,-121.224755
802,3349 CORVINA DR,RANCHO CORDOVA,95670,CA,4,3,2109,Residential,Fri May 16 00:00:00 EDT 2008,330000,38.580545,-121.279016
824,12075 APPLESBURY CT,RANCHO CORDOVA,95742,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,390000,38.535700,-121.224900
826,5420 ALMOND FALLS WAY,RANCHO CORDOVA,95742,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,396000,38.527384,-121.233531
900,2636 TRONERO WAY,RANCHO CORDOVA,95670,CA,3,1,1000,Residential,Thu May 15 00:00:00 EDT 2008,134000,38.593049,-121.303040

City: RANCHO MURIETA

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
134,15300 MURIETA SOUTH PKWY,RANCHO MURIETA,95683,CA,4,3,2734,Residential,Wed May 21 00:00:00 EDT 2008,370500,38.487400,-121.075129
169,14788 NATCHEZ CT,RANCHO MURIETA,95683,CA,0,0,0,Residential,Tue May 20 00:00:00 EDT 2008,97750,38.492287,-121.100032
309,6306 CONEJO,RANCHO MURIETA,95683,CA,4,2,3192,Residential,Tue May 20 00:00:00 EDT 2008,425000,38.512602,-121.087233

City: RIO LINDA

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
9,7325 10TH ST,RIO LINDA,95673,CA,3,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,98937,38.700909,-121.442979
16,6715 6TH ST,RIO LINDA,95673,CA,2,1,844,Residential,Wed May 21 00:00:00 EDT 2008,113263,38.689591,-121.452239
19,113 LEEWILL AVE,RIO LINDA,95673,CA,3,2,1356,Residential,Wed May 21 00:00:00 EDT 2008,121630,38.689999,-121.463220
86,1028 FALLON PLACE CT,RIO LINDA,95673,CA,3,2,1193,Residential,Wed May 21 00:00:00 EDT 2008,240122,38.693818,-121.441153
241,441 ARLINGDALE CIR,RIO LINDA,95673,CA,4,2,1475,Residential,Tue May 20 00:00:00 EDT 2008,229665,38.702893,-121.454949
280,7320 6TH ST,RIO LINDA,95673,CA,3,1,1284,Residential,Tue May 20 00:00:00 EDT 2008,300000,38.700553,-121.452223
382,617 M ST,RIO LINDA,95673,CA,2,2,1690,Residential,Mon May 19 00:00:00 EDT 2008,136500,38.691104,-121.451832
400,117 EVCAR WAY,RIO LINDA,95673,CA,3,2,1182,Residential,Mon May 19 00:00:00 EDT 2008,164000,38.687659,-121.463300
462,77 RINETTI WAY,RIO LINDA,95673,CA,4,2,1182,Residential,Mon May 19 00:00:00 EDT 2008,247480,38.687021,-121.463151
463,1316 I ST,RIO LINDA,95673,CA,3,1,1160,Residential,Mon May 19 00:00:00 EDT 2008,249862,38.683674,-121.435204
604,113 RINETTI WAY,RIO LINDA,95673,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,30000,38.687172,-121.463933
672,540 HARLING CT,RIO LINDA,95673,CA,3,2,1093,Residential,Fri May 16 00:00:00 EDT 2008,182000,38.682790,-121.453509
898,7043 9TH AVE,RIO LINDA,95673,CA,2,1,970,Residential,Thu May 15 00:00:00 EDT 2008,132000,38.695589,-121.444133

City: ROCKLIN

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
302,5924 TANUS CIR,ROCKLIN,95677,CA,4,2,0,Residential,Tue May 20 00:00:00 EDT 2008,380000,38.778691,-121.204292
305,2121 HANNAH WAY,ROCKLIN,95765,CA,4,2,2607,Residential,Tue May 20 00:00:00 EDT 2008,402000,38.805749,-121.280931
320,2125 BIG SKY DR,ROCKLIN,95765,CA,5,3,0,Residential,Tue May 20 00:00:00 EDT 2008,480000,38.801637,-121.278798
477,6286 LONETREE BLVD,ROCKLIN,95765,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,274500,38.805036,-121.293608
483,5419 HAVENHURST CIR,ROCKLIN,95677,CA,3,2,1510,Residential,Mon May 19 00:00:00 EDT 2008,285000,38.786746,-121.209957
517,2802 BLACK OAK DR,ROCKLIN,95765,CA,2,2,1596,Residential,Mon May 19 00:00:00 EDT 2008,370000,38.837006,-121.232024
526,2148 RANCH VIEW DR,ROCKLIN,95765,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,413000,38.837455,-121.289337
532,4966 CHARTER RD,ROCKLIN,95765,CA,3,2,1691,Residential,Mon May 19 00:00:00 EDT 2008,430922,38.825530,-121.254698
541,5954 TANUS CIR,ROCKLIN,95677,CA,3,3,0,Residential,Mon May 19 00:00:00 EDT 2008,488750,38.777585,-121.203600
724,3425 MEADOW WAY,ROCKLIN,95677,CA,3,2,1462,Residential,Fri May 16 00:00:00 EDT 2008,230095,38.798028,-121.235364
743,6288 LONETREE BLVD,ROCKLIN,95765,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,250000,38.804993,-121.293609
780,5776 TERRACE DR,ROCKLIN,95765,CA,3,2,1577,Residential,Fri May 16 00:00:00 EDT 2008,300567,38.800539,-121.260979
794,5321 DELTA DR,ROCKLIN,95765,CA,4,2,0,Residential,Fri May 16 00:00:00 EDT 2008,315000,38.815493,-121.262908
797,2422 STEFANIE DR,ROCKLIN,95765,CA,4,2,1888,Residential,Fri May 16 00:00:00 EDT 2008,325000,38.822730,-121.264240
808,5725 BALFOR RD,ROCKLIN,95765,CA,5,3,2606,Residential,Fri May 16 00:00:00 EDT 2008,346375,38.807816,-121.270008
857,4620 BROMWICH CT,ROCKLIN,95677,CA,4,3,0,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.772672,-121.220232
859,4478 GREENBRAE RD,ROCKLIN,95677,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.781134,-121.222801

City: ROSEVILLE

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
256,419 DAWNRIDGE RD,ROSEVILLE,95678,CA,3,2,1498,Residential,Tue May 20 00:00:00 EDT 2008,250000,38.725283,-121.297953
274,1416 LOCKHART WAY,ROSEVILLE,95747,CA,3,2,1440,Residential,Tue May 20 00:00:00 EDT 2008,292000,38.752399,-121.330328
276,37 WHITE BIRCH CT,ROSEVILLE,95678,CA,3,2,1401,Residential,Tue May 20 00:00:00 EDT 2008,294000,38.776327,-121.284514
285,3224 PARKHAM DR,ROSEVILLE,95747,CA,0,0,0,Residential,Tue May 20 00:00:00 EDT 2008,306500,38.772771,-121.364877
298,318 ANACAPA DR,ROSEVILLE,95678,CA,3,2,1838,Residential,Tue May 20 00:00:00 EDT 2008,356000,38.782094,-121.297133
324,201 FIRESTONE DR,ROSEVILLE,95678,CA,0,0,0,Residential,Tue May 20 00:00:00 EDT 2008,500500,38.770153,-121.300039
330,2981 WRINGER DR,ROSEVILLE,95661,CA,4,3,3838,Residential,Tue May 20 00:00:00 EDT 2008,613401,38.735373,-121.227072
331,8616 ROCKPORTE CT,ROSEVILLE,95747,CA,4,2,0,Residential,Tue May 20 00:00:00 EDT 2008,614000,38.742118,-121.359909
363,167 VALLEY OAK DR,ROSEVILLE,95678,CA,2,2,1100,Condo,Mon May 19 00:00:00 EDT 2008,115000,38.732429,-121.288069
378,227 MAHAN CT Unit 1,ROSEVILLE,95678,CA,2,1,780,Condo,Mon May 19 00:00:00 EDT 2008,127000,38.749723,-121.270080
390,10001 WOODCREEK OAKS BLVD Unit 1415,ROSEVILLE,95747,CA,2,2,0,Condo,Mon May 19 00:00:00 EDT 2008,150000,38.795529,-121.328819
398,1675 VERNON ST Unit 8,ROSEVILLE,95678,CA,2,1,990,Residential,Mon May 19 00:00:00 EDT 2008,160000,38.734136,-121.299639
415,1786 PIEDMONT WAY,ROSEVILLE,95661,CA,3,1,1152,Residential,Mon May 19 00:00:00 EDT 2008,188325,38.727480,-121.256537
416,1347 HIDALGO CIR,ROSEVILLE,95747,CA,3,2,1154,Residential,Mon May 19 00:00:00 EDT 2008,191500,38.747878,-121.311279
432,308 ATKINSON ST,ROSEVILLE,95678,CA,3,1,998,Residential,Mon May 19 00:00:00 EDT 2008,215100,38.746794,-121.299710
433,624 HOVEY WAY,ROSEVILLE,95678,CA,3,2,1758,Residential,Mon May 19 00:00:00 EDT 2008,217500,38.756149,-121.306479
494,3072 VILLAGE PLAZA DR,ROSEVILLE,95747,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,307000,38.773094,-121.365905
515,7641 ROSEHALL DR,ROSEVILLE,95678,CA,3,2,0,Residential,Mon May 19 00:00:00 EDT 2008,367554,38.791617,-121.286147
516,1336 LAYSAN TEAL DR,ROSEVILLE,95747,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,368500,38.796121,-121.319963
536,500 WINCHESTER CT,ROSEVILLE,95661,CA,3,2,2274,Residential,Mon May 19 00:00:00 EDT 2008,470000,38.739880,-121.248929
545,1732 TUSCAN GROVE CIR,ROSEVILLE,95747,CA,5,3,0,Residential,Mon May 19 00:00:00 EDT 2008,520000,38.796683,-121.342555
670,1675 VERNON ST Unit 24,ROSEVILLE,95678,CA,3,2,1174,Residential,Fri May 16 00:00:00 EDT 2008,180000,38.734136,-121.299639
673,1207 CRESCENDO DR,ROSEVILLE,95678,CA,3,2,1770,Residential,Fri May 16 00:00:00 EDT 2008,182587,38.724460,-121.292829
682,3930 ANNABELLE AVE,ROSEVILLE,95661,CA,2,1,796,Residential,Fri May 16 00:00:00 EDT 2008,190000,38.727609,-121.226494
704,140 VENTO CT,ROSEVILLE,95678,CA,3,2,0,Condo,Fri May 16 00:00:00 EDT 2008,212500,38.793533,-121.289685
708,1407 TIFFANY CIR,ROSEVILLE,95661,CA,4,1,1376,Residential,Fri May 16 00:00:00 EDT 2008,215000,38.736392,-121.266400
747,1813 AVENIDA MARTINA,ROSEVILLE,95747,CA,3,2,1506,Residential,Fri May 16 00:00:00 EDT 2008,255000,38.776649,-121.339589
755,3040 PARKHAM DR,ROSEVILLE,95747,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,271000,38.770835,-121.366996
786,633 HANISCH DR,ROSEVILLE,95678,CA,4,3,1800,Residential,Fri May 16 00:00:00 EDT 2008,310000,38.763490,-121.275881
791,652 FIFTEEN MILE DR,ROSEVILLE,95678,CA,4,3,2212,Residential,Fri May 16 00:00:00 EDT 2008,315000,38.775872,-121.298864
798,3232 PARKHAM DR,ROSEVILLE,95747,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,325500,38.772821,-121.364821
799,448 ELMWOOD CT,ROSEVILLE,95678,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,326951,38.771917,-121.304439
809,7697 ROSEHALL DR,ROSEVILLE,95678,CA,5,3,0,Residential,Fri May 16 00:00:00 EDT 2008,347225,38.792180,-121.285950
813,6709 ROSE BRIDGE DR,ROSEVILLE,95678,CA,3,2,2172,Residential,Fri May 16 00:00:00 EDT 2008,350000,38.792461,-121.275711
814,281 SPYGLASS HL,ROSEVILLE,95678,CA,3,2,2100,Condo,Fri May 16 00:00:00 EDT 2008,350000,38.762153,-121.283451
817,506 BEDFORD CT,ROSEVILLE,95661,CA,4,2,2295,Residential,Fri May 16 00:00:00 EDT 2008,360000,38.733985,-121.236766
818,9048 PINTO CANYON WAY,ROSEVILLE,95747,CA,4,3,2577,Residential,Fri May 16 00:00:00 EDT 2008,367463,38.792493,-121.331899
819,2274 IVY BRIDGE DR,ROSEVILLE,95747,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,375000,38.778561,-121.362008
825,1975 SIDESADDLE WAY,ROSEVILLE,95661,CA,3,2,2049,Residential,Fri May 16 00:00:00 EDT 2008,395500,38.737872,-121.249025
830,1792 DIAMOND WOODS CIR,ROSEVILLE,95747,CA,4,3,0,Residential,Fri May 16 00:00:00 EDT 2008,412500,38.808581,-121.327850
837,509 CASTILLIAN CT,ROSEVILLE,95747,CA,5,3,0,Residential,Fri May 16 00:00:00 EDT 2008,438000,38.804773,-121.341195
842,3212 CORNICHE LN,ROSEVILLE,95661,CA,4,3,2379,Residential,Fri May 16 00:00:00 EDT 2008,455000,38.750577,-121.232768
848,200 HILLSFORD CT,ROSEVILLE,95747,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,511000,38.780051,-121.378718
856,1800 AVONDALE DR,ROSEVILLE,95747,CA,5,3,0,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.798448,-121.344054
860,8432 BRIGGS DR,ROSEVILLE,95747,CA,5,3,3579,Residential,Fri May 16 00:00:00 EDT 2008,610000,38.788610,-121.339495
922,10001 WOODCREEK OAKS BLVD Unit 815,ROSEVILLE,95747,CA,2,2,0,Condo,Thu May 15 00:00:00 EDT 2008,170000,38.795529,-121.328819
955,2100 BEATTY WAY,ROSEVILLE,95747,CA,3,2,1371,Residential,Thu May 15 00:00:00 EDT 2008,208250,38.737882,-121.308142
966,9197 CORTINA CIR,ROSEVILLE,95678,CA,3,2,0,Condo,Thu May 15 00:00:00 EDT 2008,220000,38.793152,-121.290025

City: SACRAMENTO

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
10,645 MORRISON AVE,SACRAMENTO,95838,CA,3,2,909,Residential,Wed May 21 00:00:00 EDT 2008,100309,38.637663,-121.451520
11,4085 FAWN CIR,SACRAMENTO,95823,CA,3,2,1289,Residential,Wed May 21 00:00:00 EDT 2008,106250,38.470746,-121.458918
12,2930 LA ROSA RD,SACRAMENTO,95815,CA,1,1,871,Residential,Wed May 21 00:00:00 EDT 2008,106852,38.618698,-121.435833
13,2113 KIRK WAY,SACRAMENTO,95822,CA,3,1,1020,Residential,Wed May 21 00:00:00 EDT 2008,107502,38.482215,-121.492603
14,4533 LOCH HAVEN WAY,SACRAMENTO,95842,CA,2,2,1022,Residential,Wed May 21 00:00:00 EDT 2008,108750,38.672914,-121.359340
15,7340 HAMDEN PL,SACRAMENTO,95842,CA,2,2,1134,Condo,Wed May 21 00:00:00 EDT 2008,110700,38.700051,-121.351278
18,250 PERALTA AVE,SACRAMENTO,95833,CA,2,1,588,Residential,Wed May 21 00:00:00 EDT 2008,120000,38.612099,-121.469095
21,4882 BANDALIN WAY,SACRAMENTO,95823,CA,4,2,1329,Residential,Wed May 21 00:00:00 EDT 2008,122682,38.468173,-121.444071
23,9 PASTURE CT,SACRAMENTO,95834,CA,3,2,1601,Residential,Wed May 21 00:00:00 EDT 2008,124100,38.628631,-121.488097
26,4108 NORTON WAY,SACRAMENTO,95820,CA,3,1,963,Residential,Wed May 21 00:00:00 EDT 2008,127281,38.537526,-121.478315
27,1469 JANRICK AVE,SACRAMENTO,95832,CA,3,2,1119,Residential,Wed May 21 00:00:00 EDT 2008,129000,38.476472,-121.501711
28,9861 CULP WAY,SACRAMENTO,95827,CA,4,2,1380,Residential,Wed May 21 00:00:00 EDT 2008,131200,38.558423,-121.327948
29,7825 CREEK VALLEY CIR,SACRAMENTO,95828,CA,3,2,1248,Residential,Wed May 21 00:00:00 EDT 2008,132000,38.472122,-121.404199
32,3100 EXPLORER DR,SACRAMENTO,95827,CA,3,2,1380,Residential,Wed May 21 00:00:00 EDT 2008,136500,38.566663,-121.332644
35,3920 SHINING STAR DR,SACRAMENTO,95823,CA,3,2,1418,Residential,Wed May 21 00:00:00 EDT 2008,146250,38.487420,-121.462459
37,7661 NIXOS WAY,SACRAMENTO,95823,CA,4,2,1472,Residential,Wed May 21 00:00:00 EDT 2008,148750,38.479553,-121.463317
38,7044 CARTHY WAY,SACRAMENTO,95828,CA,4,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,149593,38.498570,-121.420925
39,2442 LARKSPUR LN,SACRAMENTO,95825,CA,1,1,760,Condo,Wed May 21 00:00:00 EDT 2008,150000,38.585140,-121.403736
40,4800 WESTLAKE PKWY Unit 2109,SACRAMENTO,95835,CA,2,2,1304,Condo,Wed May 21 00:00:00 EDT 2008,152000,38.658812,-121.542345
41,2178 63RD AVE,SACRAMENTO,95822,CA,3,2,1207,Residential,Wed May 21 00:00:00 EDT 2008,154000,38.493955,-121.489660
45,2622 ERIN DR,SACRAMENTO,95833,CA,4,1,1120,Residential,Wed May 21 00:00:00 EDT 2008,164000,38.613765,-121.488694
46,8421 SUNBLAZE WAY,SACRAMENTO,95823,CA,4,2,1580,Residential,Wed May 21 00:00:00 EDT 2008,165000,38.450543,-121.432538
...,...,...,...,...,...,...,...,...,...,...,...,...
916,2601 SAN FERNANDO WAY,SACRAMENTO,95818,CA,2,1,881,Residential,Thu May 15 00:00:00 EDT 2008,165000,38.556178,-121.476256
918,8008 SAINT HELENA CT,SACRAMENTO,95829,CA,4,2,1608,Residential,Thu May 15 00:00:00 EDT 2008,165750,38.467012,-121.359969
920,1001 RIO NORTE WAY,SACRAMENTO,95834,CA,3,2,1202,Residential,Thu May 15 00:00:00 EDT 2008,169000,38.634292,-121.485106
923,7351 GIGI PL,SACRAMENTO,95828,CA,4,2,1859,Multi-Family,Thu May 15 00:00:00 EDT 2008,170000,38.490606,-121.410173
924,7740 DIXIE LOU ST,SACRAMENTO,95832,CA,3,2,1232,Residential,Thu May 15 00:00:00 EDT 2008,170000,38.475853,-121.477039
925,7342 DAVE ST,SACRAMENTO,95828,CA,3,1,1638,Residential,Thu May 15 00:00:00 EDT 2008,170725,38.490822,-121.401643
926,7687 HOWERTON DR,SACRAMENTO,95831,CA,2,2,1177,Residential,Thu May 15 00:00:00 EDT 2008,171750,38.480859,-121.539745
927,26 KAMSON CT,SACRAMENTO,95833,CA,3,2,1582,Residential,Thu May 15 00:00:00 EDT 2008,172000,38.622794,-121.499173
928,7045 PEEVEY CT,SACRAMENTO,95823,CA,2,2,904,Residential,Thu May 15 00:00:00 EDT 2008,173056,38.502254,-121.451444
930,1140 EDMONTON DR,SACRAMENTO,95833,CA,3,2,1204,Residential,Thu May 15 00:00:00 EDT 2008,174250,38.624570,-121.486913
932,9 WIND CT,SACRAMENTO,95823,CA,4,2,1497,Residential,Thu May 15 00:00:00 EDT 2008,179500,38.450730,-121.427528
935,1080 RIO NORTE WAY,SACRAMENTO,95834,CA,3,2,1428,Residential,Thu May 15 00:00:00 EDT 2008,188700,38.634335,-121.486098
936,5501 VALLETTA WAY,SACRAMENTO,95820,CA,3,1,1039,Residential,Thu May 15 00:00:00 EDT 2008,189000,38.530144,-121.437490
939,27 MEGAN CT,SACRAMENTO,95838,CA,4,2,1887,Residential,Thu May 15 00:00:00 EDT 2008,190000,38.649258,-121.465308
941,1973 DANVERS WAY,SACRAMENTO,95832,CA,3,2,1638,Residential,Thu May 15 00:00:00 EDT 2008,191675,38.477568,-121.492574
942,8001 ARROYO VISTA DR,SACRAMENTO,95823,CA,3,2,1677,Residential,Thu May 15 00:00:00 EDT 2008,195500,38.467340,-121.419843
944,815 CROSSWIND DR,SACRAMENTO,95838,CA,3,2,1231,Residential,Thu May 15 00:00:00 EDT 2008,200000,38.651386,-121.450420
948,5954 BRIDGECROSS DR,SACRAMENTO,95835,CA,3,2,1358,Residential,Thu May 15 00:00:00 EDT 2008,201528,38.681970,-121.500025
950,6600 SILVERTHORNE CIR,SACRAMENTO,95842,CA,4,3,1968,Residential,Thu May 15 00:00:00 EDT 2008,205000,38.686070,-121.342369
951,2221 2ND AVE,SACRAMENTO,95818,CA,2,2,1089,Residential,Thu May 15 00:00:00 EDT 2008,205000,38.555781,-121.485331
954,416 LEITCH AVE,SACRAMENTO,95815,CA,2,1,795,Residential,Thu May 15 00:00:00 EDT 2008,207973,38.612694,-121.456669
960,7958 ROSEVIEW WAY,SACRAMENTO,95828,CA,3,2,1450,Residential,Thu May 15 00:00:00 EDT 2008,213000,38.467836,-121.410366
962,7809 VALLECITOS WAY,SACRAMENTO,95828,CA,3,1,888,Residential,Thu May 15 00:00:00 EDT 2008,216021,38.508217,-121.411207
969,4900 ELUDE CT,SACRAMENTO,95842,CA,4,2,1627,Residential,Thu May 15 00:00:00 EDT 2008,223000,38.696740,-121.350519
970,3557 SODA WAY,SACRAMENTO,95834,CA,0,0,0,Residential,Thu May 15 00:00:00 EDT 2008,224000,38.631026,-121.501879
971,3528 SAINT GEORGE DR,SACRAMENTO,95821,CA,3,1,1040,Residential,Thu May 15 00:00:00 EDT 2008,224000,38.629468,-121.376445
977,5 BISHOPGATE CT,SACRAMENTO,95823,CA,4,2,1329,Residential,Thu May 15 00:00:00 EDT 2008,229500,38.467936,-121.445477
978,5601 REXLEIGH DR,SACRAMENTO,95823,CA,4,2,1715,Residential,Thu May 15 00:00:00 EDT 2008,230000,38.445342,-121.441504
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890

City: SHINGLE SPRINGS

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
757,6007 MARYBELLE LN,SHINGLE SPRINGS,95682,CA,0,0,0,Unkown,Fri May 16 00:00:00 EDT 2008,275000,38.64347,-120.888183

City: SLOUGHHOUSE

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
866,14151 INDIO DR,SLOUGHHOUSE,95683,CA,3,4,5822,Residential,Fri May 16 00:00:00 EDT 2008,2000,38.490447,-121.129337

City: WALNUT GROVE

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
820,14004 WALNUT AVE,WALNUT GROVE,95690,CA,3,1,1727,Residential,Fri May 16 00:00:00 EDT 2008,380000,38.247659,-121.515129

City: WEST SACRAMENTO

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
905,612 STONE BLVD,WEST SACRAMENTO,95691,CA,2,1,884,Residential,Thu May 15 00:00:00 EDT 2008,147000,38.563084,-121.535579
917,501 POPLAR AVE,WEST SACRAMENTO,95691,CA,0,0,0,Residential,Thu May 15 00:00:00 EDT 2008,165000,38.584526,-121.534609
947,1525 PENNSYLVANIA AVE,WEST SACRAMENTO,95691,CA,0,0,0,Residential,Thu May 15 00:00:00 EDT 2008,200100,38.569943,-121.527539

City: WILTON

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
135,11215 SHARRMONT CT,WILTON,95693,CA,3,2,2110,Residential,Wed May 21 00:00:00 EDT 2008,372000,38.350620,-121.228349
327,9741 SADDLEBRED CT,WILTON,95693,CA,0,0,0,Residential,Tue May 20 00:00:00 EDT 2008,560000,38.408841,-121.198039
547,9360 MAGOS RD,WILTON,95693,CA,5,2,3741,Residential,Mon May 19 00:00:00 EDT 2008,579093,38.416809,-121.240628
552,12901 FURLONG DR,WILTON,95693,CA,5,3,3788,Residential,Mon May 19 00:00:00 EDT 2008,691659,38.413535,-121.188211
864,9401 BARREL RACER CT,WILTON,95693,CA,4,3,4400,Residential,Fri May 16 00:00:00 EDT 2008,884790,38.415298,-121.194858

Wywołanie funkcji grupowania tworzy nowy obiekt `pd.GroupBy`. Sama operacja grupowania
nie jest przeprowadzona dopóki poszczególne grupy nie będą potrzebne w kodzie.

Możemy odnosić się do pierwszych/ostatnich elementów każdej z grup, analogicznie do `head` i `tail` w
`pd.DataFrame`:

In [31]:
display(grouped.first())

display(grouped.last())

,street,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
city,,,,,,,,,,,
ANTELOPE,3828 BLACKFOOT WAY,95843,CA,3,2,1088,Residential,Wed May 21 00:00:00 EDT 2008,126640,38.709740,-121.373770
AUBURN,1740 HIGH ST,95603,CA,3,3,0,Residential,Tue May 20 00:00:00 EDT 2008,504000,38.891935,-121.084340
CAMERON PARK,2778 KAWEAH CT,95682,CA,3,1,0,Residential,Tue May 20 00:00:00 EDT 2008,201000,38.694052,-120.995589
CARMICHAEL,5332 SANDSTONE ST,95608,CA,3,1,1152,Residential,Wed May 21 00:00:00 EDT 2008,181872,38.662105,-121.313945
CITRUS HEIGHTS,6236 LONGFORD DR Unit 1,95621,CA,2,1,795,Condo,Wed May 21 00:00:00 EDT 2008,116250,38.679776,-121.314089
COOL,2341 BIG STRIKE TRL,95614,CA,3,2,1457,Residential,Fri May 16 00:00:00 EDT 2008,300000,38.905927,-120.975169
DIAMOND SPRINGS,636 CRESTVIEW DR,95619,CA,3,2,1300,Residential,Fri May 16 00:00:00 EDT 2008,216033,38.688255,-120.810235
EL DORADO,4885 SUMMIT VIEW DR,95623,CA,3,2,1624,Residential,Mon May 19 00:00:00 EDT 2008,289000,38.673285,-120.879176
EL DORADO HILLS,3020 RICHARDSON CIR,95762,CA,3,2,0,Residential,Wed May 21 00:00:00 EDT 2008,352000,38.691299,-121.081752
ELK GROVE,5201 LAGUNA OAKS DR Unit 140,95758,CA,2,2,1039,Condo,Wed May 21 00:00:00 EDT 2008,133000,38.423251,-121.444489
ELVERTA,7944 DOMINION WAY,95626,CA,3,2,1116,Residential,Wed May 21 00:00:00 EDT 2008,138750,38.713182,-121.411227
FAIR OAKS,5333 PRIMROSE DR Unit 19A,95628,CA,2,2,994,Condo,Tue May 20 00:00:00 EDT 2008,142500,38.662785,-121.276272
FOLSOM,120 GRANT LN,95630,CA,3,2,1820,Residential,Wed May 21 00:00:00 EDT 2008,200000,38.687742,-121.171040
FORESTHILL,5890 TT TRAK,95631,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,194818,39.020808,-120.821518
GALT,1122 WILD POPPY CT,95632,CA,3,2,1406,Residential,Wed May 21 00:00:00 EDT 2008,178760,38.287789,-121.294715
GARDEN VALLEY,6401 MARSHALL RD,95633,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,490000,38.842550,-120.875400
GOLD RIVER,2010 PROMONTORY POINT LN,95670,CA,2,2,1520,Residential,Wed May 21 00:00:00 EDT 2008,299000,38.628690,-121.261669
GRANITE BAY,4629 DORCHESTER LN,95746,CA,5,3,2896,Residential,Mon May 19 00:00:00 EDT 2008,676200,38.723545,-121.216025
GREENWOOD,1693 SHELTER COVE DR,95635,CA,3,2,2846,Residential,Wed May 21 00:00:00 EDT 2008,395000,38.945357,-120.908822
LINCOLN,1636 ALLENWOOD CIR,95648,CA,4,2,0,Residential,Tue May 20 00:00:00 EDT 2008,202500,38.879192,-121.309477
LOOMIS,3935 EL MONTE DR,95650,CA,4,4,1624,Residential,Tue May 20 00:00:00 EDT 2008,839000,38.813337,-121.133348
MATHER,4243 MIDDLEBURY WAY,95655,CA,3,2,2093,Residential,Wed May 21 00:00:00 EDT 2008,237800,38.547991,-121.280483
MEADOW VISTA,2284 LOS ROBLES RD,95722,CA,3,1,1216,Residential,Tue May 20 00:00:00 EDT 2008,230000,39.008159,-121.036230
NORTH HIGHLANDS,7511 OAKVALE CT,95660,CA,4,2,1240,Residential,Wed May 21 00:00:00 EDT 2008,123000,38.702792,-121.382210
ORANGEVALE,9021 MADISON AVE,95662,CA,4,2,1603,Residential,Wed May 21 00:00:00 EDT 2008,183200,38.664186,-121.217511
PENRYN,1500 ORANGE HILL LN,95663,CA,3,2,1320,Residential,Mon May 19 00:00:00 EDT 2008,506688,38.862708,-121.162092
PLACERVILLE,2370 BIG CANYON CREEK RD,95667,CA,3,2,0,Residential,Tue May 20 00:00:00 EDT 2008,205000,38.744580,-120.794254
POLLOCK PINES,5615 LUPIN LN,95726,CA,3,2,1380,Residential,Wed May 21 00:00:00 EDT 2008,265000,38.708315,-120.603872
RANCHO CORDOVA,11150 TRINITY RIVER DR Unit 114,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
RANCHO MURIETA,15300 MURIETA SOUTH PKWY,95683,CA,4,3,2734,Residential,Wed May 21 00:00:00 EDT 2008,370500,38.487400,-121.075129
RIO LINDA,7325 10TH ST,95673,CA,3,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,98937,38.700909,-121.442979
ROCKLIN,5924 TANUS CIR,95677,CA,4,2,0,Residential,Tue May 20 00:00:00 EDT 2008,380000,38.778691,-121.204292
ROSEVILLE,419 DAWNRIDGE RD,95678,CA,3,2,1498,Residential,Tue May 20 00:00:00 EDT 2008,250000,38.725283,-121.297953
SACRAMENTO,3526 HIGH ST,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
SHINGLE SPRINGS,6007 MARYBELLE LN,95682,CA,0,0,0,Unkown,Fri May 16 00:00:00 EDT 2008,275000,38.643470,-120.888183
SLOUGHHOUSE,14151 INDIO DR,95683,CA,3,4,5822,Residential,Fri May 16 00:00:00 EDT 2008,2000,38.490447,-121.129337
WALNUT GROVE,14004 WALNUT AVE,95690,CA,3,1,1727,Residential,Fri May 16 00:00:00 EDT 2008,380000,38.247659,-121.515129
WEST SACRAMENTO,612 STONE BLVD,95691,CA,2,1,884,Residential,Thu May 15 00:00:00 EDT 2008,147000,38.563084,-121.535579
WILTON,11215 SHARRMONT CT,95693,CA,3,2,2110,Residential,Wed May 21 00:00:00 EDT 2008,372000,38.350620,-121.228349

,street,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
city,,,,,,,,,,,
ANTELOPE,8428 MISTY PASS WAY,95843,CA,3,2,1517,Residential,Thu May 15 00:00:00 EDT 2008,212000,38.722959,-121.347115
AUBURN,820 DANA CT,95603,CA,4,3,0,Residential,Fri May 16 00:00:00 EDT 2008,560000,38.865246,-121.094869
CAMERON PARK,2181 WINTERHAVEN CIR,95682,CA,3,2,0,Residential,Thu May 15 00:00:00 EDT 2008,224500,38.697570,-120.995739
CARMICHAEL,5429 HESPER WAY,95608,CA,4,2,1319,Residential,Thu May 15 00:00:00 EDT 2008,220000,38.665104,-121.315901
CITRUS HEIGHTS,7933 DAFFODIL WAY,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
COOL,2341 BIG STRIKE TRL,95614,CA,3,2,1457,Residential,Fri May 16 00:00:00 EDT 2008,300000,38.905927,-120.975169
DIAMOND SPRINGS,636 CRESTVIEW DR,95619,CA,3,2,1300,Residential,Fri May 16 00:00:00 EDT 2008,216033,38.688255,-120.810235
EL DORADO,6320 EL DORADO ST,95623,CA,2,1,1040,Residential,Fri May 16 00:00:00 EDT 2008,205000,38.678758,-120.844118
EL DORADO HILLS,3882 YELLOWSTONE LN,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915
ELK GROVE,8304 RED FOX WAY,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
ELVERTA,2421 SANTINA WAY,95626,CA,3,2,1416,Residential,Mon May 19 00:00:00 EDT 2008,140000,38.718650,-121.407763
FAIR OAKS,5624 MEMORY LN,95628,CA,3,1,1529,Residential,Thu May 15 00:00:00 EDT 2008,189000,38.667450,-121.236400
FOLSOM,203 CASCADE FALLS DR,95630,CA,4,3,3229,Residential,Fri May 16 00:00:00 EDT 2008,575000,38.703962,-121.187100
FORESTHILL,5890 TT TRAK,95631,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,194818,39.020808,-120.821518
GALT,1178 WARMWOOD CT,95632,CA,4,2,1770,Residential,Thu May 15 00:00:00 EDT 2008,220000,38.289544,-121.284607
GARDEN VALLEY,6401 MARSHALL RD,95633,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,490000,38.842550,-120.875400
GOLD RIVER,2049 EMPIRE MINE CIR,95670,CA,4,2,3037,Residential,Mon May 19 00:00:00 EDT 2008,528000,38.629299,-121.249021
GRANITE BAY,620 KESWICK CT,95746,CA,4,3,2356,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.732096,-121.219142
GREENWOOD,1693 SHELTER COVE DR,95635,CA,3,2,2846,Residential,Wed May 21 00:00:00 EDT 2008,395000,38.945357,-120.908822
LINCOLN,2400 INVERNESS DR,95648,CA,3,2,1358,Residential,Thu May 15 00:00:00 EDT 2008,229027,38.897814,-121.324691
LOOMIS,5747 KING RD,95650,CA,4,2,1328,Residential,Fri May 16 00:00:00 EDT 2008,295000,38.825096,-121.198432
MATHER,4243 MIDDLEBURY WAY,95655,CA,3,2,2093,Residential,Wed May 21 00:00:00 EDT 2008,237800,38.547991,-121.280483
MEADOW VISTA,2284 LOS ROBLES RD,95722,CA,3,1,1216,Residential,Tue May 20 00:00:00 EDT 2008,230000,39.008159,-121.036230
NORTH HIGHLANDS,7381 WASHBURN WAY,95660,CA,3,1,960,Residential,Thu May 15 00:00:00 EDT 2008,224252,38.703550,-121.375103
ORANGEVALE,7540 HICKORY AVE,95662,CA,3,1,1456,Residential,Thu May 15 00:00:00 EDT 2008,225000,38.703056,-121.235221
PENRYN,1500 ORANGE HILL LN,95663,CA,3,2,1320,Residential,Mon May 19 00:00:00 EDT 2008,506688,38.862708,-121.162092
PLACERVILLE,4320 FOUR SEASONS RD,95667,CA,3,2,0,Residential,Fri May 16 00:00:00 EDT 2008,475000,38.690867,-120.693641
POLLOCK PINES,2250 FOREBAY RD,95726,CA,3,1,1320,Residential,Fri May 16 00:00:00 EDT 2008,175000,38.774910,-120.597599
RANCHO CORDOVA,2636 TRONERO WAY,95670,CA,3,1,1000,Residential,Thu May 15 00:00:00 EDT 2008,134000,38.593049,-121.303040
RANCHO MURIETA,6306 CONEJO,95683,CA,4,2,3192,Residential,Tue May 20 00:00:00 EDT 2008,425000,38.512602,-121.087233
RIO LINDA,7043 9TH AVE,95673,CA,2,1,970,Residential,Thu May 15 00:00:00 EDT 2008,132000,38.695589,-121.444133
ROCKLIN,4478 GREENBRAE RD,95677,CA,0,0,0,Residential,Fri May 16 00:00:00 EDT 2008,600000,38.781134,-121.222801
ROSEVILLE,9197 CORTINA CIR,95678,CA,3,2,0,Condo,Thu May 15 00:00:00 EDT 2008,220000,38.793152,-121.290025
SACRAMENTO,6932 RUSKUT WAY,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
SHINGLE SPRINGS,6007 MARYBELLE LN,95682,CA,0,0,0,Unkown,Fri May 16 00:00:00 EDT 2008,275000,38.643470,-120.888183
SLOUGHHOUSE,14151 INDIO DR,95683,CA,3,4,5822,Residential,Fri May 16 00:00:00 EDT 2008,2000,38.490447,-121.129337
WALNUT GROVE,14004 WALNUT AVE,95690,CA,3,1,1727,Residential,Fri May 16 00:00:00 EDT 2008,380000,38.247659,-121.515129
WEST SACRAMENTO,1525 PENNSYLVANIA AVE,95691,CA,0,0,0,Residential,Thu May 15 00:00:00 EDT 2008,200100,38.569943,-121.527539
WILTON,9401 BARREL RACER CT,95693,CA,4,3,4400,Residential,Fri May 16 00:00:00 EDT 2008,884790,38.415298,-121.194858

Z grupującego obiektu możemy "wycinać" poszczególne kolumny tak jak dla pojedynczego
obiektu:

In [32]:
pd.DataFrame(grouped["price"].mean())

                         price
city
ANTELOPE         232496.393939
AUBURN           405890.800000
CAMERON PARK     267944.444444
CARMICHAEL       295684.750000
CITRUS HEIGHTS   187114.914286
COOL             300000.000000
DIAMOND SPRINGS  216033.000000
EL DORADO        247000.000000
EL DORADO HILLS  491698.956522
ELK GROVE        271157.692982
ELVERTA          132866.000000
FAIR OAKS        303500.666667
FOLSOM           414960.176471
FORESTHILL       194818.000000
GALT             236943.428571
GARDEN VALLEY    490000.000000
GOLD RIVER       358000.000000
GRANITE BAY      678733.333333
GREENWOOD        395000.000000
LINCOLN           96539.263889
LOOMIS           567000.000000
MATHER           237800.000000
MEADOW VISTA     230000.000000
NORTH HIGHLANDS  135659.333333
ORANGEVALE       279159.545455
PENRYN           506688.000000
PLACERVILLE      363863.400000
POLLOCK PINES    240302.666667
RANCHO CORDOVA   263405.928571
RANCHO MURIETA   297750.000000
RIO LINDA        172727.615385
ROCKLIN          381835.823529
ROSEVILLE        324528.250000
SACRAMENTO       197735.988610
SHINGLE SPRINGS  275000.000000
SLOUGHHOUSE        2000.000000
WALNUT GROVE     380000.000000
WEST SACRAMENTO  170700.000000
WILTON           617508.400000

Z `pd.GroupBy` możemy wybierać konkretne grupy przez ich nazwę:

In [33]:
# Dane odpowiadające miastu SACRAMENTO
grouped.get_group("SACRAMENTO")

,baths,beds,latitude,longitude,price,sale_date,sq__ft,state,street,type,zip
0,1,2,38.631913,-121.434879,59222,Wed May 21 00:00:00 EDT 2008,836,CA,3526 HIGH ST,Residential,95838
1,1,3,38.478902,-121.431028,68212,Wed May 21 00:00:00 EDT 2008,1167,CA,51 OMAHA CT,Residential,95823
2,1,2,38.618305,-121.443839,68880,Wed May 21 00:00:00 EDT 2008,796,CA,2796 BRANCH ST,Residential,95815
3,1,2,38.616835,-121.439146,69307,Wed May 21 00:00:00 EDT 2008,852,CA,2805 JANETTE WAY,Residential,95815
4,1,2,38.519470,-121.435768,81900,Wed May 21 00:00:00 EDT 2008,797,CA,6001 MCMAHON DR,Residential,95824
5,1,3,38.662595,-121.327813,89921,Wed May 21 00:00:00 EDT 2008,1122,CA,5828 PEPPERMILL CT,Condo,95841
6,2,3,38.681659,-121.351705,90895,Wed May 21 00:00:00 EDT 2008,1104,CA,6048 OGDEN NASH WAY,Residential,95842
7,1,3,38.535092,-121.481367,91002,Wed May 21 00:00:00 EDT 2008,1177,CA,2561 19TH AVE,Residential,95820
10,2,3,38.637663,-121.451520,100309,Wed May 21 00:00:00 EDT 2008,909,CA,645 MORRISON AVE,Residential,95838
11,2,3,38.470746,-121.458918,106250,Wed May 21 00:00:00 EDT 2008,1289,CA,4085 FAWN CIR,Residential,95823
12,1,1,38.618698,-121.435833,106852,Wed May 21 00:00:00 EDT 2008,871,CA,2930 LA ROSA RD,Residential,95815
13,1,3,38.482215,-121.492603,107502,Wed May 21 00:00:00 EDT 2008,1020,CA,2113 KIRK WAY,Residential,95822
14,2,2,38.672914,-121.359340,108750,Wed May 21 00:00:00 EDT 2008,1022,CA,4533 LOCH HAVEN WAY,Residential,95842
15,2,2,38.700051,-121.351278,110700,Wed May 21 00:00:00 EDT 2008,1134,CA,7340 HAMDEN PL,Condo,95842
18,1,2,38.612099,-121.469095,120000,Wed May 21 00:00:00 EDT 2008,588,CA,250 PERALTA AVE,Residential,95833
21,2,4,38.468173,-121.444071,122682,Wed May 21 00:00:00 EDT 2008,1329,CA,4882 BANDALIN WAY,Residential,95823
23,2,3,38.628631,-121.488097,124100,Wed May 21 00:00:00 EDT 2008,1601,CA,9 PASTURE CT,Residential,95834
26,1,3,38.537526,-121.478315,127281,Wed May 21 00:00:00 EDT 2008,963,CA,4108 NORTON WAY,Residential,95820
27,2,3,38.476472,-121.501711,129000,Wed May 21 00:00:00 EDT 2008,1119,CA,1469 JANRICK AVE,Residential,95832
28,2,4,38.558423,-121.327948,131200,Wed May 21 00:00:00 EDT 2008,1380,CA,9861 CULP WAY,Residential,95827
29,2,3,38.472122,-121.404199,132000,Wed May 21 00:00:00 EDT 2008,1248,CA,7825 CREEK VALLEY CIR,Residential,95828
32,2,3,38.566663,-121.332644,136500,Wed May 21 00:00:00 EDT 2008,1380,CA,3100 EXPLORER DR,Residential,95827
35,2,3,38.487420,-121.462459,146250,Wed May 21 00:00:00 EDT 2008,1418,CA,3920 SHINING STAR DR,Residential,95823
37,2,4,38.479553,-121.463317,148750,Wed May 21 00:00:00 EDT 2008,1472,CA,7661 NIXOS WAY,Residential,95823
38,2,4,38.498570,-121.420925,149593,Wed May 21 00:00:00 EDT 2008,1146,CA,7044 CARTHY WAY,Residential,95828
39,1,1,38.585140,-121.403736,150000,Wed May 21 00:00:00 EDT 2008,760,CA,2442 LARKSPUR LN,Condo,95825
40,2,2,38.658812,-121.542345,152000,Wed May 21 00:00:00 EDT 2008,1304,CA,4800 WESTLAKE PKWY Unit 2109,Condo,95835
41,2,3,38.493955,-121.489660,154000,Wed May 21 00:00:00 EDT 2008,1207,CA,2178 63RD AVE,Residential,95822
45,1,4,38.613765,-121.488694,164000,Wed May 21 00:00:00 EDT 2008,1120,CA,2622 ERIN DR,Residential,95833
46,2,4,38.450543,-121.432538,165000,Wed May 21 00:00:00 EDT 2008,1580,CA,8421 SUNBLAZE WAY,Residential,95823
...,...,...,...,...,...,...,...,...,...,...,...
916,1,2,38.556178,-121.476256,165000,Thu May 15 00:00:00 EDT 2008,881,CA,2601 SAN FERNANDO WAY,Residential,95818
918,2,4,38.467012,-121.359969,165750,Thu May 15 00:00:00 EDT 2008,1608,CA,8008 SAINT HELENA CT,Residential,95829
920,2,3,38.634292,-121.485106,169000,Thu May 15 00:00:00 EDT 2008,1202,CA,1001 RIO NORTE WAY,Residential,95834
923,2,4,38.490606,-121.410173,170000,Thu May 15 00:00:00 EDT 2008,1859,CA,7351 GIGI PL,Multi-Family,95828
924,2,3,38.475853,-121.477039,170000,Thu May 15 00:00:00 EDT 2008,1232,CA,7740 DIXIE LOU ST,Residential,95832
925,1,3,38.490822,-121.401643,170725,Thu May 15 00:00:00 EDT 2008,1638,CA,7342 DAVE ST,Residential,95828
926,2,2,38.480859,-121.539745,171750,Thu May 15 00:00:00 EDT 2008,1177,CA,7687 HOWERTON DR,Residential,95831
927,2,3,38.622794,-121.499173,172000,Thu May 15 00:00:00 EDT 2008,1582,CA,26 KAMSON CT,Residential,95833
928,2,2,38.502254,-121.451444,173056,Thu May 15 00:00:00 EDT 2008,904,CA,7045 PEEVEY CT,Residential,95823
930,2,3,38.624570,-121.486913,174250,Thu May 15 00:00:00 EDT 2008,1204,CA,1140 EDMONTON DR,Residential,95833
932,2,4,38.450730,-121.427528,179500,Thu May 15 00:00:00 EDT 2008,1497,CA,9 WIND CT,Residential,95823
935,2,3,38.634335,-121.486098,188700,Thu May 15 00:00:00 EDT 2008,1428,CA,1080 RIO NORTE WAY,Residential,95834
936,1,3,38.530144,-121.437490,189000,Thu May 15 00:00:00 EDT 2008,1039,CA,5501 VALLETTA WAY,Residential,95820
939,2,4,38.649258,-121.465308,190000,Thu May 15 00:00:00 EDT 2008,1887,CA,27 MEGAN CT,Residential,95838
941,2,3,38.477568,-121.492574,191675,Thu May 15 00:00:00 EDT 2008,1638,CA,1973 DANVERS WAY,Residential,95832
942,2,3,38.467340,-121.419843,195500,Thu May 15 00:00:00 EDT 2008,1677,CA,8001 ARROYO VISTA DR,Residential,95823
944,2,3,38.651386,-121.450420,200000,Thu May 15 00:00:00 EDT 2008,1231,CA,815 CROSSWIND DR,Residential,95838
948,2,3,38.681970,-121.500025,201528,Thu May 15 00:00:00 EDT 2008,1358,CA,5954 BRIDGECROSS DR,Residential,95835
950,3,4,38.686070,-121.342369,205000,Thu May 15 00:00:00 EDT 2008,1968,CA,6600 SILVERTHORNE CIR,Residential,95842
951,2,2,38.555781,-121.485331,205000,Thu May 15 00:00:00 EDT 2008,1089,CA,2221 2ND AVE,Residential,95818
954,1,2,38.612694,-121.456669,207973,Thu May 15 00:00:00 EDT 2008,795,CA,416 LEITCH AVE,Residential,95815
960,2,3,38.467836,-121.410366,213000,Thu May 15 00:00:00 EDT 2008,1450,CA,7958 ROSEVIEW WAY,Residential,95828
962,1,3,38.508217,-121.411207,216021,Thu May 15 00:00:00 EDT 2008,888,CA,7809 VALLECITOS WAY,Residential,95828
969,2,4,38.696740,-121.350519,223000,Thu May 15 00:00:00 EDT 2008,1627,CA,4900 ELUDE CT,Residential,95842
970,0,0,38.631026,-121.501879,224000,Thu May 15 00:00:00 EDT 2008,0,CA,3557 SODA WAY,Residential,95834
971,1,3,38.629468,-121.376445,224000,Thu May 15 00:00:00 EDT 2008,1040,CA,3528 SAINT GEORGE DR,Residential,95821
977,2,4,38.467936,-121.445477,229500,Thu May 15 00:00:00 EDT 2008,1329,CA,5 BISHOPGATE CT,Residential,95823
978,2,4,38.445342,-121.441504,230000,Thu May 15 00:00:00 EDT 2008,1715,CA,5601 REXLEIGH DR,Residential,95823
980,3,4,38.457679,-121.359620,232425,Thu May 15 00:00:00 EDT 2008,2280,CA,9169 GARLINGTON CT,Residential,95829
981,2,3,38.499893,-121.458890,234000,Thu May 15 00:00:00 EDT 2008,1477,CA,6932 RUSKUT WAY,Residential,95823

Jak widzieliśmy na poprzednim slajdzie, groupa obiektów również posiada metody
statystyczne. Istotną, dostępną także dla `pd.DataFrame`, jest `agg`, która agreguje różne
funkcje aplikowane do poszczególnych grup i ich kolumn (zarówno grupy jak i kolumny można specyfikować, tak jak w drugim przykładzie):

In [34]:
display(grouped["price"].agg([np.sum, np.mean, np.std]))

grouped.agg({'beds' : np.max, 'sq__ft' : np.min})

                      sum           mean            std
city
ANTELOPE          7672381  232496.393939   71963.663914
AUBURN            2029454  405890.800000  131800.852134
CAMERON PARK      2411500  267944.444444  115064.776443
CARMICHAEL        5913695  295684.750000  142134.046072
CITRUS HEIGHTS    6549022  187114.914286   58423.361610
COOL               300000  300000.000000            NaN
DIAMOND SPRINGS    216033  216033.000000            NaN
EL DORADO          494000  247000.000000   59396.969620
EL DORADO HILLS  11309076  491698.956522  162001.012744
ELK GROVE        30911977  271157.692982   91511.950277
ELVERTA            531464  132866.000000    7538.887451
FAIR OAKS         2731506  303500.666667  180415.727631
FOLSOM            7054323  414960.176471  129612.259950
FORESTHILL         194818  194818.000000            NaN
GALT              4975812  236943.428571   87325.298611
GARDEN VALLEY      490000  490000.000000            NaN
GOLD RIVER        1432000  358000.000000  113363.721416
GRANITE BAY       2036200  678733.333333   80030.077679
GREENWOOD          395000  395000.000000            NaN
LINCOLN           6950827   96539.263889  147978.894155
LOOMIS            1134000  567000.000000  384666.088965
MATHER             237800  237800.000000            NaN
MEADOW VISTA       230000  230000.000000            NaN
NORTH HIGHLANDS   2848846  135659.333333   34661.371840
ORANGEVALE        3070755  279159.545455   82732.459786
PENRYN             506688  506688.000000            NaN
PLACERVILLE       3638634  363863.400000  145898.109463
POLLOCK PINES      720908  240302.666667   57110.374026
RANCHO CORDOVA    7375366  263405.928571   99845.317005
RANCHO MURIETA     893250  297750.000000  175335.571120
RIO LINDA         2245459  172727.615385   76711.755986
ROCKLIN           6491209  381835.823529  110976.438802
ROSEVILLE        15577356  324528.250000  134714.710494
SACRAMENTO       86806099  197735.988610  100870.200819
SHINGLE SPRINGS    275000  275000.000000            NaN
SLOUGHHOUSE          2000    2000.000000            NaN
WALNUT GROVE       380000  380000.000000            NaN
WEST SACRAMENTO    512100  170700.000000   27004.999537
WILTON            3087542  617508.400000  188411.185096

                 beds  sq__ft
city
ANTELOPE            5     836
AUBURN              4       0
CAMERON PARK        4       0
CARMICHAEL          4     936
CITRUS HEIGHTS      5     795
COOL                3    1457
DIAMOND SPRINGS     3    1300
EL DORADO           3    1040
EL DORADO HILLS     6       0
ELK GROVE           6       0
ELVERTA             4    1080
FAIR OAKS           5     960
FOLSOM              5       0
FORESTHILL          0       0
GALT                5       0
GARDEN VALLEY       3       0
GOLD RIVER          4       0
GRANITE BAY         5    2356
GREENWOOD           3    2846
LINCOLN             5       0
LOOMIS              4    1328
MATHER              3    2093
MEADOW VISTA        3    1216
NORTH HIGHLANDS     4     888
ORANGEVALE          4    1176
PENRYN              3    1320
PLACERVILLE         4       0
POLLOCK PINES       3    1284
RANCHO CORDOVA      5       0
RANCHO MURIETA      4       0
RIO LINDA           4       0
ROCKLIN             5       0
ROSEVILLE           5       0
SACRAMENTO          8       0
SHINGLE SPRINGS     0       0
SLOUGHHOUSE         3    5822
WALNUT GROVE        3    1727
WEST SACRAMENTO     2       0
WILTON              5       0

Niektóre funkcje statystyczne są optymalizowane za pomocą `Cythona`, przykładowo `sum()`
czy `mean()`.

Funkcja `describe()` ma podobne działanie, ale funkcje agregujące są już ustawione
domyślnie:

In [35]:
grouped["sq__ft"].describe()

,count,mean,std,min,25%,50%,75%,max
city,,,,,,,,
ANTELOPE,33.0,1716.636364,574.401799,836.0,1235.00,1669.0,2026.00,3134.0
AUBURN,5.0,898.600000,955.052250,0.0,0.00,960.0,1255.00,2278.0
CAMERON PARK,9.0,224.000000,672.000000,0.0,0.00,0.0,0.00,2016.0
CARMICHAEL,20.0,1553.100000,563.188096,936.0,1221.75,1472.5,1660.25,3357.0
CITRUS HEIGHTS,35.0,1308.685714,281.888669,795.0,1146.50,1280.0,1391.00,2085.0
COOL,1.0,1457.000000,NaN,1457.0,1457.00,1457.0,1457.00,1457.0
DIAMOND SPRINGS,1.0,1300.000000,NaN,1300.0,1300.00,1300.0,1300.00,1300.0
EL DORADO,2.0,1332.000000,412.950360,1040.0,1186.00,1332.0,1478.00,1624.0
EL DORADO HILLS,23.0,233.434783,629.075716,0.0,0.00,0.0,0.00,2199.0
ELK GROVE,114.0,1848.728070,865.206193,0.0,1342.75,1722.5,2365.00,4303.0
ELVERTA,4.0,1241.500000,168.264672,1080.0,1107.00,1235.0,1369.50,1416.0
FAIR OAKS,9.0,1659.777778,797.931040,960.0,1144.00,1450.0,1529.00,3173.0
FOLSOM,17.0,1948.411765,958.790909,0.0,1427.00,1939.0,2660.00,3261.0
FORESTHILL,1.0,0.000000,NaN,0.0,0.00,0.0,0.00,0.0
GALT,21.0,1560.857143,712.780211,0.0,1140.00,1479.0,1798.00,3746.0
GARDEN VALLEY,1.0,0.000000,NaN,0.0,0.00,0.0,0.00,0.0
GOLD RIVER,4.0,1634.500000,1261.185818,0.0,1140.00,1750.5,2245.00,3037.0
GRANITE BAY,3.0,2974.000000,660.463474,2356.0,2626.00,2896.0,3283.00,3670.0
GREENWOOD,1.0,2846.000000,NaN,2846.0,2846.00,2846.0,2846.00,2846.0
LINCOLN,72.0,133.875000,463.592066,0.0,0.00,0.0,0.00,2457.0
LOOMIS,2.0,1476.000000,209.303607,1328.0,1402.00,1476.0,1550.00,1624.0
MATHER,1.0,2093.000000,NaN,2093.0,2093.00,2093.0,2093.00,2093.0
MEADOW VISTA,1.0,1216.000000,NaN,1216.0,1216.00,1216.0,1216.00,1216.0
NORTH HIGHLANDS,21.0,1150.333333,176.899501,888.0,1051.00,1152.0,1240.00,1587.0
ORANGEVALE,11.0,1647.363636,523.986311,1176.0,1375.00,1574.0,1653.00,3056.0
PENRYN,1.0,1320.000000,NaN,1320.0,1320.00,1320.0,1320.00,1320.0
PLACERVILLE,10.0,852.600000,970.931306,0.0,0.00,474.0,1779.00,2295.0
POLLOCK PINES,3.0,1328.000000,48.497423,1284.0,1302.00,1320.0,1350.00,1380.0
RANCHO CORDOVA,28.0,1362.071429,1086.610017,0.0,683.25,1222.0,1915.50,3615.0
RANCHO MURIETA,3.0,1975.333333,1725.948242,0.0,1367.00,2734.0,2963.00,3192.0
RIO LINDA,13.0,1121.153846,398.183133,0.0,1093.00,1182.0,1284.00,1690.0
ROCKLIN,17.0,878.647059,1010.539704,0.0,0.00,0.0,1596.00,2607.0
ROSEVILLE,48.0,1028.687500,1045.069114,0.0,0.00,1049.0,1777.50,3838.0
SACRAMENTO,439.0,1394.259681,600.840269,0.0,1058.00,1316.0,1653.00,4246.0
SHINGLE SPRINGS,1.0,0.000000,NaN,0.0,0.00,0.0,0.00,0.0
SLOUGHHOUSE,1.0,5822.000000,NaN,5822.0,5822.00,5822.0,5822.00,5822.0
WALNUT GROVE,1.0,1727.000000,NaN,1727.0,1727.00,1727.0,1727.00,1727.0
WEST SACRAMENTO,3.0,294.666667,510.377638,0.0,0.00,0.0,442.00,884.0
WILTON,5.0,2807.800000,1784.476170,0.0,2110.00,3741.0,3788.00,4400.0

# Analiza danych

## Podział cech na rodzaje

Wczytajmy prawdziwe dane i przeprowadźmy małą
analizę za pomocą `pandas`.
Do tego posłuży nam [__Ames Housing dataset__](https://www.kaggle.com/c/house-
prices-advanced-regression-techniques)
będącym jednym z problemów na popularnej
platformie [__Kaggle__](https://www.kaggle.com/)

In [36]:
from pathlib import Path

# Wczytywanie danych
training_dataset_path = Path("./train.csv")
testing_dataset_path= Path("./test.csv")

train = pd.read_csv(training_dataset_path)
test = pd.read_csv(testing_dataset_path)

print("Training dataset shape: {}".format(train.shape))
print("Testing dataset shape: {}".format(test.shape))

Training dataset shape: (1460, 81)
Testing dataset shape: (1459, 80)

Zobaczmy podstawowe statystyki odnośnie datasetu:

In [37]:
# Opcje pozwalające na wyświetlanie większej ilości rzędów
pd.set_option('display.max_rows', 500)

display(train.describe())

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

Brakujące wartości (NaNy) __są automatycznie wyłączane z funkcji
statystycznych__.
Jeżeli na danym typie kolumny nie da się przeprowadzić danej
operacji (jak wziąć średnią
z kolumny wypełnionej stringami?) to też są one wyłączane.

Sprawdźmy które kolumny zawierają dane __numeryczne__ (wartości ciągłe), a które
__kategoryczne__ (skończone wartości całkowite, określony zbiór stringów etc.)

Funkcja `select_dtypes` pozwala na wybranie kolumn na podstawie ich typu.

In [38]:
numerical_features = train.select_dtypes(include=[np.number]).columns.values
categorical_features = train.select_dtypes(include=[np.object]).columns.values

display(pd.DataFrame(numerical_features, columns=["Numerical Values"]))
display(pd.DataFrame(categorical_features, columns=["Categorical"]))

   Numerical Values
0                Id
1        MSSubClass
2       LotFrontage
3           LotArea
4       OverallQual
5       OverallCond
6         YearBuilt
7      YearRemodAdd
8        MasVnrArea
9        BsmtFinSF1
10       BsmtFinSF2
11        BsmtUnfSF
12      TotalBsmtSF
13         1stFlrSF
14         2ndFlrSF
15     LowQualFinSF
16        GrLivArea
17     BsmtFullBath
18     BsmtHalfBath
19         FullBath
20         HalfBath
21     BedroomAbvGr
22     KitchenAbvGr
23     TotRmsAbvGrd
24       Fireplaces
25      GarageYrBlt
26       GarageCars
27       GarageArea
28       WoodDeckSF
29      OpenPorchSF
30    EnclosedPorch
31        3SsnPorch
32      ScreenPorch
33         PoolArea
34          MiscVal
35           MoSold
36           YrSold
37        SalePrice

      Categorical
0        MSZoning
1          Street
2           Alley
3        LotShape
4     LandContour
5       Utilities
6       LotConfig
7       LandSlope
8    Neighborhood
9      Condition1
10     Condition2
11       BldgType
12     HouseStyle
13      RoofStyle
14       RoofMatl
15    Exterior1st
16    Exterior2nd
17     MasVnrType
18      ExterQual
19      ExterCond
20     Foundation
21       BsmtQual
22       BsmtCond
23   BsmtExposure
24   BsmtFinType1
25   BsmtFinType2
26        Heating
27      HeatingQC
28     CentralAir
29     Electrical
30    KitchenQual
31     Functional
32    FireplaceQu
33     GarageType
34   GarageFinish
35     GarageQual
36     GarageCond
37     PavedDrive
38         PoolQC
39          Fence
40    MiscFeature
41       SaleType
42  SaleCondition

Aby odnaleźć dane typu __ordynalnego__ (takie jak kategoryczne, ale kolejność ma
znaczenie), musimy wypisać nazwy poszczególnych kolumn które je zawierają.
Z reguły takie informacje można uzyskać z opisu kompetycji.

In [39]:
ordinal_features = np.array([
    "ExterQual",
    "ExterCond",
    "BsmtQual",
    "BsmtCond",
    "BsmtExposure",
    "HeatingQC",
    "KitchenQual",
    "Functional",
    "FireplaceQu",
    "GarageFinish",
    "GarageQual",
    "GarageCond",
    "PavedDrive",
    "PoolQC",
    "Utilities",
    "BsmtFinType1",
    "BsmtFinType2",
    "LandSlope",
    "Electrical",
    "Fence"
])

Różnice pomiędzy danymi kategorycznymi i ich podzbiorem (ordynalnymi), da nam cechy
nominalne.

In [40]:
# Bierzemy różnicę między dwoma wektorami jednowymiarowymi
nominal_features = np.setdiff1d(categorical_features, ordinal_features)

Finalnie możemy wyświetlić wszystkie dostępne cechy:

In [41]:
feature_names = {
    "Ordinal": ordinal_features,
    "Nominal": nominal_features,
    "Numerical": numerical_features,
}

# Orientacja indeksowa, gdyż Pandas automatycznie uzupełni brakujące wartości NaNami
# Następnie wykonujemy transpozycję by nazwami kolumn były typy cech
feature_types = pd.DataFrame.from_dict(feature_names, orient="index").T
# NaNy zaciemniają wyświetlanie tabeli, zamieńmy je na puste stringi
display(feature_types.fillna(''))
# Dla każdej kolumny policz ile jest wartości
display(feature_types.count())

         Ordinal        Nominal      Numerical
0      ExterQual          Alley             Id
1      ExterCond       BldgType     MSSubClass
2       BsmtQual     CentralAir    LotFrontage
3       BsmtCond     Condition1        LotArea
4   BsmtExposure     Condition2    OverallQual
5      HeatingQC    Exterior1st    OverallCond
6    KitchenQual    Exterior2nd      YearBuilt
7     Functional     Foundation   YearRemodAdd
8    FireplaceQu     GarageType     MasVnrArea
9   GarageFinish        Heating     BsmtFinSF1
10    GarageQual     HouseStyle     BsmtFinSF2
11    GarageCond    LandContour      BsmtUnfSF
12    PavedDrive      LotConfig    TotalBsmtSF
13        PoolQC       LotShape       1stFlrSF
14     Utilities       MSZoning       2ndFlrSF
15  BsmtFinType1     MasVnrType   LowQualFinSF
16  BsmtFinType2    MiscFeature      GrLivArea
17     LandSlope   Neighborhood   BsmtFullBath
18    Electrical       RoofMatl   BsmtHalfBath
19         Fence      RoofStyle       FullBath
20                SaleCondition       HalfBath
21                     SaleType   BedroomAbvGr
22                       Street   KitchenAbvGr
23                                TotRmsAbvGrd
24                                  Fireplaces
25                                 GarageYrBlt
26                                  GarageCars
27                                  GarageArea
28                                  WoodDeckSF
29                                 OpenPorchSF
30                               EnclosedPorch
31                                   3SsnPorch
32                                 ScreenPorch
33                                    PoolArea
34                                     MiscVal
35                                      MoSold
36                                      YrSold
37                                   SalePrice

Ordinal      20
Nominal      23
Numerical    38
dtype: int64

## Brakujące dane

Najczęściej nasze dane będą niekompletnie, zależnie od przyczyny ich braku powinniśmy
dobrać odpowiednią strategię imputacji (uzupełniania brakujących rekordów). 
Jest to poza ramami wykładu, zainteresowanych odsyłam do
[__literatury__](https://www.amazon.com/gp/product/1439868247?ie=UTF8&linkCode=as2&camp=1634&creative=6738&tag=thstge-20&creativeASIN=1439868247)

Dla potrzeb wykładu wybierzemy prostszy sposób ich uzupełniania.

### Wyświetlanie statystyk odnośnie brakujących danych

Brakujące dane powinniśmy rozpatrywać w kontekście zbiorów treningowych oraz testowych
jako całości.

`pandas` udostępnia __hierarchiczne indeksowanie__, dzięki któremu możemy przechowywać
obiekty w większej liczbie wymiarów niż dwa.

In [42]:
full = pd.concat([train, test], keys=['train', 'test'], sort=True)
display(full.head())
display(full.tail())

         1stFlrSF  2ndFlrSF  3SsnPorch Alley  BedroomAbvGr BldgType BsmtCond  \
train 0       856       854          0   NaN             3     1Fam       TA
      1      1262         0          0   NaN             3     1Fam       TA
      2       920       866          0   NaN             3     1Fam       TA
      3       961       756          0   NaN             3     1Fam       Gd
      4      1145      1053          0   NaN             4     1Fam       TA

        BsmtExposure  BsmtFinSF1  BsmtFinSF2  ...   SaleType ScreenPorch  \
train 0           No       706.0         0.0  ...         WD           0
      1           Gd       978.0         0.0  ...         WD           0
      2           Mn       486.0         0.0  ...         WD           0
      3           No       216.0         0.0  ...         WD           0
      4           Av       655.0         0.0  ...         WD           0

         Street  TotRmsAbvGrd TotalBsmtSF  Utilities WoodDeckSF YearBuilt  \
train 0    Pave             8       856.0     AllPub          0      2003
      1    Pave             6      1262.0     AllPub        298      1976
      2    Pave             6       920.0     AllPub          0      2001
      3    Pave             7       756.0     AllPub          0      1915
      4    Pave             9      1145.0     AllPub        192      2000

        YearRemodAdd YrSold
train 0         2003   2008
      1         1976   2007
      2         2002   2008
      3         1970   2006
      4         2000   2008

[5 rows x 81 columns]

           1stFlrSF  2ndFlrSF  3SsnPorch Alley  BedroomAbvGr BldgType  \
test 1454       546       546          0   NaN             3    Twnhs
     1455       546       546          0   NaN             3   TwnhsE
     1456      1224         0          0   NaN             4     1Fam
     1457       970         0          0   NaN             3     1Fam
     1458       996      1004          0   NaN             3     1Fam

          BsmtCond BsmtExposure  BsmtFinSF1  BsmtFinSF2  ...   SaleType  \
test 1454       TA           No         0.0         0.0  ...         WD
     1455       TA           No       252.0         0.0  ...         WD
     1456       TA           No      1224.0         0.0  ...         WD
     1457       TA           Av       337.0         0.0  ...         WD
     1458       TA           Av       758.0         0.0  ...         WD

          ScreenPorch  Street  TotRmsAbvGrd TotalBsmtSF  Utilities WoodDeckSF  \
test 1454           0    Pave             5       546.0     AllPub          0
     1455           0    Pave             6       546.0     AllPub          0
     1456           0    Pave             7      1224.0     AllPub        474
     1457           0    Pave             6       912.0     AllPub         80
     1458           0    Pave             9       996.0     AllPub        190

          YearBuilt YearRemodAdd YrSold
test 1454      1970         1970   2006
     1455      1970         1970   2006
     1456      1960         1996   2006
     1457      1992         1992   2006
     1458      1993         1994   2006

[5 rows x 81 columns]

Możemy usunąć kolumnę `SalePrice` jako że jest to zmienna którą chcemy przewidywać i nie
ma jej w zbiorze testowym. Domyślnie funkcja `drop` usuwa rzędy, jeżeli chcemy usunąć
kolumnę musimy zmienić oś.

In [43]:
full.drop("SalePrice", axis=1, inplace=True)

W łatwy sposób możemy również utworzyć funkcje opisujące brakujące wartości w naszym zbiorze
danych:

- Liczba nullów w całym datasecie

In [44]:
def nan_count(dataset):
  return dataset.isnull().sum().sum()

- Liczba rzędów zawierających wartości NaN wyrażona jako liczba oraz procenty:

In [45]:
def nan_rows(dataset):
  # Funkcja is_null zwraca macierz wartości True oraz False
  nan_rows_count = dataset.isnull().any(axis=1).sum()
  return nan_rows_count, nan_rows_count/len(dataset)*100

- Posortowane po ilości brakujących rekordów poszczególne cechy:

In [46]:
def nan_features(dataset):
  # Zsumuj wartości null i posortuj malejąco
  nans_per_feature = dataset.isnull().sum().sort_values(ascending=False)
  # Usuń indeksy i weź tylko te cechy które mają więcej niż jedną brakującą wartość
  nan_features = nans_per_feature[nans_per_feature != 0].reset_index()
  # Nazwij kolumny, gdzie Feature to nazwa cechy, a NaNs jest liczbą brakujących
  # wartości
  nan_features.columns = ["Feature", "NaNs"]
  return nan_features

- Wyświetlanie wszystkiego razem (dla naszej wygody)

In [47]:
def display_nan_statistics(dataset):
  print("Dataset contains {} NaNs".format(nan_count(dataset)))
  print("NaN rows: {} | In percentage: {}".format(*nan_rows(dataset)))
  print("NaNs per feature:")
  display(nan_features(dataset))

In [48]:
display_nan_statistics(full)

Dataset contains 13965 NaNs
NaN rows: 2919 | In percentage: 100.0
NaNs per feature:

         Feature  NaNs
0         PoolQC  2909
1    MiscFeature  2814
2          Alley  2721
3          Fence  2348
4    FireplaceQu  1420
5    LotFrontage   486
6     GarageQual   159
7   GarageFinish   159
8    GarageYrBlt   159
9     GarageCond   159
10    GarageType   157
11      BsmtCond    82
12  BsmtExposure    82
13      BsmtQual    81
14  BsmtFinType2    80
15  BsmtFinType1    79
16    MasVnrType    24
17    MasVnrArea    23
18      MSZoning     4
19  BsmtFullBath     2
20  BsmtHalfBath     2
21     Utilities     2
22    Functional     2
23    Electrical     1
24   Exterior2nd     1
25   KitchenQual     1
26   Exterior1st     1
27    GarageCars     1
28   TotalBsmtSF     1
29    GarageArea     1
30     BsmtUnfSF     1
31    BsmtFinSF2     1
32    BsmtFinSF1     1
33      SaleType     1

### Imputowanie danych

Często w opisie danych podane są przyczyny ich braku (czasami wartości NaN oznaczają po
prostu brak danej cechy i powinny być zerem).

Za pomocą funkcji `fillna` możemy uzupełnić brakujące dane, zarówno w całym
`pd.DataFrame` jak i w poszczególnych kolumnach. Dla tych kolumn brakująca wartość
oznacza właśnie brak występowania danej cechy i powinna zostać zastąpiona jakąś inną,
rozróżnialną wartością

In [49]:
described_features = [
  "PoolQC",
  "MiscFeature",
  "Alley",
  "Fence",
  "FireplaceQu",
  "GarageCond",
  "GarageQual",
  "GarageFinish",
  "GarageType",
  "BsmtCond",
  "BsmtExposure",
  "BsmtQual",
  "BsmtFinType2",
  "BsmtFinType1",
]

full.fillna(value={feature: "ValueAbsent" for feature in described_features}, inplace=True)

Parametr `inplace` modyfikuje istniejącą tabelę zamiast zwracania jej kopii.

Możemy jeszcze raz wyświetlić brakujące dane w naszym datasecie:

In [50]:
display_nan_statistics(full)

Dataset contains 715 NaNs
NaN rows: 660 | In percentage: 22.61048304213772
NaNs per feature:

         Feature  NaNs
0    LotFrontage   486
1    GarageYrBlt   159
2     MasVnrType    24
3     MasVnrArea    23
4       MSZoning     4
5     Functional     2
6      Utilities     2
7   BsmtFullBath     2
8   BsmtHalfBath     2
9    TotalBsmtSF     1
10    GarageArea     1
11    Electrical     1
12      SaleType     1
13   Exterior1st     1
14    BsmtFinSF1     1
15    BsmtFinSF2     1
16    GarageCars     1
17   KitchenQual     1
18     BsmtUnfSF     1
19   Exterior2nd     1

Jak widać w ten prosty sposób pozbyliśmy się ponad 90% brakujących danych.

Dwie cechy z największą ilością brakujących rekordów są cechami numerycznymi, co
oznacza, że możemy je stosunkowo łatwo uzupełnić.
W tym wypadku uzupełnimy je średnią (__w analize danych należy unikać
takich uproszczeń, jest to przykład na potrzeby wykładu!__):

In [51]:
full.fillna(
    value={
        "LotFrontage": full["LotFrontage"].mean(),
        "GarageYrBlt": full["GarageYrBlt"].mean(),
    },
    inplace=True,
)

Cechy które mają niewiele brakujących rekordów (wszystkie oprócz dwóch z największą
ilością brakujących danych), możemy odrzucić widzianą już wcześniej komendą `drop`:

In [52]:
# Usuń rzędy zawierające jakiekolwiek NaNy
full.dropna(axis=0, how="any", inplace=True)

Teraz możemy wyświetlić nasze dane po obróbce:

In [53]:
display_nan_statistics(full)

Dataset contains 0 NaNs
NaN rows: 0 | In percentage: 0.0
NaNs per feature:

Empty DataFrame
Columns: [Feature, NaNs]
Index: []

Po niewielkiej dodatkowej obróbce (przykładowo po binaryzacji i enkodowaniu cech), takie
dane mogą nam posłużyć do budowy modeli predykcyjnych, czy też bardziej zaawansowanych
wizualizacji.

Źródła:
- [Dokumentacja pandas](https://pandas.pydata.org/pandas-docs/stable/index.html)
- [Porównanie pandas i numpy 1](https://penandpants.com/2014/09/05/performance-of-pandas-series-vs-numpy-arrays/)
- [Porównanie pandas i numpy 2](http://gouthamanbalaraman.com/blog/numpy-vs-pandas-comparison.html)